<html>
<head>
	<title></title>
</head>
<body style="font-family:Tahoma, Geneva, sans-serif;font-size:14px;">
	<div style="width:650px;margin:0px auto;border-radius:20px;
	background:#1076be;border:15px solid #1076be;border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;">
		<div style="padding: 18px;min-height:100px;background:#FFFFFF;
		border-radius:10px;">
			<div style="float:left; font-size:17px; width:70%;display:block;">
				Hi Mustbekarma,<br><br>
			</div>
			<div style="float:left; font-size:17px; width:70%;display:block;">
				<span style="color:#1076be">
					<%= @contact["username"] %>
				</span>&nbsp;has sent to a message from <%= @contact["email"] %>.
			</div>
		</div>
	</div>
	<div style="width:650px;margin:0px auto;border-radius:20px;background:#1076be;border:15px solid #1076be;border-top-left-radius: 0px;border-top-right-radius: 0px;margin-top:-15px">
		<div style="padding: 18px;min-height:500px;background:#FFFFFF;
		border-radius:10px;">
			<h3>Message</h3>
			<p>
				<%= @contact["message"] %>
			</p>
			Thank You,
			<br>
			<%= @contact["username"] %>
		</div>
		<p style="text-align:center">&copy; www.mustbekarma.com 2012 All rights reserved.</p>
	</div>
</body>
</html>