<html>
<head>
	<title></title>
</head>
<body style="font-family:Tahoma, Geneva, sans-serif;font-size:14px;">
	<div style="width:650px;margin:0px auto;border-radius:20px;
	background:#1076be;border:15px solid #1076be;border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;">
		<div style="padding: 18px;min-height:100px;background:#FFFFFF;
		border-radius:10px;">
			<div style="float:left; font-size:17px; width:70%;display:block;">
				Hello <span style="color:#1076be"><%= @user.profile.name%>,</span><br><br>

				Thank you for choosing<br>
				<span style="color:red"> www.mustbekarma.com </span>

			</div>
			<div style="float:right;width:28%;display:block">
				<a href="http://www.mustbekarma.com">
					<img style="height:100px" 
							 src="http://www.mustbekarma.com/assets/logo.png">
				</a>
			</div>
		</div>
	</div>
	<div style="width:650px;margin:0px auto;border-radius:20px;
	background:#1076be;border:15px solid #1076be;border-top-left-radius: 0px;
border-top-right-radius: 0px;margin-top:-15px">
		<div style="padding: 18px;min-height:500px;background:#FFFFFF;
		border-radius:10px;">
			<p>
			The following is a confirmation of e-payment activity for 
			Mustbekarma.net.
		</p>
		<p>
			Your payment of $9.99 for the 
			Subscription to our mustbekarma has been successfully 
			transacted.
		</p>
<br>
<p>We Wish you all the best in your search for your karmic partner on 
	<span style="color:red">www.mustbekarma.com</span>
</p>
Thank You.<br>
The team @ www.mustbekarma.com

		</div>
		<p style="text-align:center">&copy; www.mustbekarma.com 2012 All rights reserved.</p>
	</div>
</body>
</html>