<html>
<head>
	<title></title>
</head>
<body style="font-family:Tahoma, Geneva, sans-serif;font-size:14px;">
	<div style="width:650px;margin:0px auto;border-radius:20px;
	background:#1076be;border:15px solid #1076be;border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;">
		<div style="padding: 18px;min-height:100px;background:#FFFFFF;
		border-radius:10px;">
			<div style="float:left; font-size:17px; width:70%;display:block;">
				Hello <span style="color:#1076be"><%= @user.profile.name%>,</span><br><br>

				Thank you for registering with <br>
				<span style="color:red"> www.mustbekarma.com </span>

			</div>
			<div style="float:right;width:28%;display:block">
				<a href="http://www.mustbekarma.com">
					<img style="height:100px" 
							 src="http://www.mustbekarma.com/assets/logo.png">
				</a>
			</div>
		</div>
	</div>
	<div style="width:650px;margin:0px auto;border-radius:20px;
	background:#1076be;border:15px solid #1076be;border-top-left-radius: 0px;
border-top-right-radius: 0px;margin-top:-15px">
		<div style="padding: 18px;min-height:500px;background:#FFFFFF;
		border-radius:10px;">
			<p>	A few years back we were watching TV with our daughters and, while channel surfing, I came across a program about female infanticide.</p>

			<p>It disturbed my daughters and had a profound impact on me, especially since these events took place near the place where I was born. I kept thinking about it on and off for a long time, trying to figure out how I could make a positive difference and change the thought process behind this horrific act.</p>

			<p>There are organizations that need our help in bringing the unthinkable to light, to fight the good fight against ignorance and cruelty. These initiatives need our continuous financial support. Hence, I looked around to start a business which provided a needed service but did not cost an arm and a leg. During this time I also happened to read the book "Start something that matters by Blake Mycoskie" which inspired me only more.</p>

			<p>The confluence of these two events materialized into a more concrete idea when my single friend complained his karma was not good (he couldn't find a partner) and that dating sites were unnecessarily expensive. Being a great believer in karma myself, I realized then: I need to create a site for people who believe in destiny and karma, so they can find each other and not empty their wallets in the process.</p>

			<p> We pledge to keep the cost of subscription low ($5/- per month) and donate 25 percent of the money raised through subscriptions to help fund the fight against female infanticide. It is our way of creating a little more good karma for all of us.</p>
<br>
<p style="text-align:center;font-weight:bold">
	<!-- Please click on the link below to confirm activation of your account -->
</p>
	<p style="text-align:center">
		<p><%#= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
	</p>
<br>
<p>We Wish you all the best in your search for your karmic partner on 
	<span style="color:red">www.mustbekarma.com</span>
</p>
Thank You.<br>
The team @ www.mustbekarma.com

		</div>
		<p style="text-align:center">&copy; www.mustbekarma.com 2012 All rights reserved.</p>
	</div>
</body>
</html>