

<div class="container view-profile">
  <div class="row chat-item">
    <div class="col s4 m3 l3">
      <div class="chat-menu side-nav" id="slide-out">
        <div class="chat-menu1">
        <div class="chat-title text-center">Chat List</div>
        <ul class="chat-list tabs">      
          <li class="tab online"><a href=".chat-message-list"><span class="status"><i class="mdi-toggle-radio-button-on"></i></span> Name008</a></li>    
          <li class="tab"><a href=".chat-message-list"><span class="status"><i class="mdi-toggle-radio-button-on"></i></span> Name008</a></li>               
        </ul>
        </div>
      </div><!--event-menu-->
      <a href="#" data-activates="slide-out" class="button-collapse side-menu"><i class="mdi-action-list"></i></a>
    </div>
 
    <div class="col s12 m9 l9">
      <div id="chat">
        <ul class="chat-message-list">
          <li>
            <div class="col s12 m12 l8">
              <div class="card-panel z-depth-1 card-panel-style chat-panel">
                <div class="row valign-wrapper">
                  <div class="col s3  m2 center-align chat-person">
                    <img src="/assets/no_image.png" alt=""> <!-- notice the "circle" class -->
                  </div>
                  <div class="col s9 m10">
                    <div class="card-panel-text chat-message">
                      <p>Lorem ipsum diet your text goes shere Lorem ipsum diet your text goes here</p>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="col s12 m12 l8">
              <div class="card-panel z-depth-1 card-panel-style chat-panel">
                <div class="row valign-wrapper">
                  <div class="col s9 m10">
                    <div class="card-panel-text chat-message">
                      <p>Lorem ipsum diet your text goes here Lorem ipsum diet your text goes here</p>
                     </div>
                  </div>
                  <div class="col s3 m2 center-align chat-person">
                    <img src="/assets/no_image.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
                  </div>                  
                </div>
              </div>
            </div>
          </li>          
        </ul>
        <div class="chat-form">
          <form>
            <div class="row">
              <div class="col s12 m12 l8">
                <md-input-container flex>
                  <label>Message</label>
                  <textarea columns="1" md-maxlength="150"></textarea>
                </md-input-container> 
              </div>
            </div>
            <div class="input-field col s12 m12 l8">
              <input class="btn waves-effect waves-light right chat-send" type="submit" name="" value="Send">
            </div>        
          </form>
        </div>
      </div>
    </div>  
  </div><!--chat-item-->              
</div>

        
<script type="text/javascript">
    $(document).ready(function(){
    $('ul.tabs').tabs();
    $('select').material_select();
      $('ul.event-list li').on('click',function(e){
      //e.preventDefault();
      $('.event-title').text($(this).text());
      })
      $('.event-title').text($('ul.event-list li:first').text());
      $('.datepicker').pickadate();
      $(".button-collapse").sideNav();

      var s= $('.chat-menu');
      $('.button-collapse').click(function(){
        s.animate({left:'0'});
      });
      // $('body').click(function(){
      //   if(s.css('left') == "0px"){
      //     s.animate({left:'-250'});
      //   }
      // });
    });
</script>

