<div class="register view-profile">
	<h3 class="lead">
		Contact Us
	</h3>
	<div class="Register-Mandatory-Title" ng-show="contactMessageSent">
    Your message has been sent successfully.
  </div>
	<div class="registerForm">
		<div class="col-xs-4 col-xs-offset-4 marginTop100 well">
			<form name="contactForm">
				<div class="row">
					<md-input-container>
					<label>Name</label>
					<input required ng-model="contactData.username" name="username">
            <!-- <div ng-messages="registerForm.name.$error">
              <div ng-message="required">Required.</div>
            </div> -->
          </md-input-container>          
        </div>
        <div class="row">
        	<md-input-container>
        	<label>Email</label>
        	<input required ng-model="contactData.email" name="email">
            <!-- <div ng-messages="registerForm.email.$error">
              <div ng-message="required">Required.</div>
            </div> -->
          </md-input-container>          
        </div>
        <div class="row">
        	<md-input-container>
        	<label>Subject</label>
        	<input required name="password" ng-model="contactData.subject">
            <!-- <div ng-messages="registerForm.password.$error">
              <div ng-message="required">Required.</div>
            </div> -->
          </md-input-container>          
        </div>
        <div class="row">
        	<md-input-container>
	        	<label>Message</label>
	        	<textarea name="bio" rows="5" ng-model="contactData.message" required md-maxlength="500"></textarea>
      	  </md-input-container>
      </div>
      <button type="submit" ng-click="contactUs()" class="btn btn-default">Send</button>      
    </form>
  </div>
</div>
</div>
