 <div id="userList">
  <div class="container view-profile">
    <div class="section btn-section activeUser">
      Active Users
    </div>
    <div class="section">
      <div class="row">
        <div class="col s12 m4 l3" ng-repeat="user in recentUsers">
          <div class="card card-style">
            <div class="card-image waves-effect waves-block waves-light userimg">
              <a href="/profile/{{user['_id']['$oid']}}">
                <img ng-show="user.profileImage.file.url" class="activator" ng-src="{{user.profileImage.file.url}}">
                <img ng-hide="user.profileImage.file.url" class="activator" ng-src="/assets/userProf/u1.jpg">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4 user-Name ellipsis">
                {{user.profile.name}}
              </span>
              <div class="user-status">
                {{user.last_seen | timeAgo}}
              </div>
              <div class="card-action center-align user-icons">
                <a href="#" ng-click="makeFavourite(user)">
                  <i class="mdi-action-favorite"  ng-class="user.favourite? 'active':''"></i>
                </a>
                <a ng-if="user.isFriend" href="/message/{{user['_id']['$oid']}}">
                  <i class="mdi-content-mail">
                  </i>
                </a>
                <a ng-if="!user.isFriend && currentUserDetail.profile.paymentStatus == 'active'"
                   ng-click="requestFriend(user['_id']['$oid'])">
                  <i class="mdi-content-mail">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav();
    $('body').on('click',function(){
      $('.drag-target').removeClass('z-zero');
      $('#nav-mobile').animate({'left':-250}, {'duration': 300});
      $('#sidenav-overlay').css('opacity', '0');
      $('.drag-target').addClass('z-zero');
    });

    // Slider
    $("#slides").slidesjs({
      // width: 940,
      height: 400,
    });
      // Contact
      $('select').material_select();
  });
</script>