<div class="forgetpassword view-profile">
  <h3 class="lead">Forgot password</h3>
  <div class="forgetForm">
    <div class="col-xs-4 col-xs-offset-4 marginTop100 well">
      <span ng-show="forgotPasswordError" class="error">
        <span ng-repeat="error in forgotPasswordError">
          Email {{error[0]}}
        </span>
      </span>
      <form name="forgotForm" ng-submit="forgotPassword()">
        <div class="input-field">
          <input id="frEmail" type="text" autofocus="autofocus" required ng-model="forgotPasswordEmail">
          <label for="frEmail" class="custom-label" autofocus="autofocus" >Email Address</label>
          <span ng-show="userModel.regError['name']" class="error">
            Name {{userModel.regError['name'][0]}}
          </span>
        </div>
        <button type="submit" class="btn btn-default">
          <span ng-hide="forgotPasswordMailSending || forgotPasswordMailSent">Send Instruction</span>
          <span ng-show="forgotPasswordMailSending ">
            <i class="fa fa-spin fa-spinner"></i>Sending Instruction
          </span>
          <span ng-show="forgotPasswordMailSent">Instruction sent</span>
        </button>
        <!-- <div ng-show="forgotPasswordMailSent">Instruction is sent to your registered email id {{forgotPasswordEmail}}</div> -->
        <div class="actionLinks pull-right">
        <a href="/login">Login</a> |
          <a href="/forgotPassword">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>