<div class="login view-profile">
  <h3 class="lead">Login</h3>
  <div class="loginForm">
    <div class="col-xs-4 col-xs-offset-4 marginTop100 well">
      <span ng-show="userModel.loginError" class="error">
        {{userModel.loginError}}
      </span>
      <form name="loginForm">
        <div class="row">
          <md-input-container>
            <label>Email</label>
            <input required type="email" ng-model="user.email" name="email" ng-enter="login()">
            {{registerForm.name.$error}}
            <div ng-messages="loginForm.email.$error">
              <div ng-message="required">Required.</div>
              <div ng-message="email">Email is not valid.</div>
            </div>
          </md-input-container>
        </div>
        <div class="row">
          <md-input-container>
            <label>Password</label>
            <input required ng-model="user.password" name="password" type="password" ng-enter="login()">
            <div ng-messages="loginForm.name.$error">
              <div ng-message="required">Required.</div>
            </div>
          </md-input-container>
        </div>
        <p>
          <md-checkbox ng-model="user.remember_me" aria-label="remember_me">
            Remember Me
          </md-checkbox>
        </p>
        <div class="row">
          <button type="submit" ng-click="login()" class="btn btn-default btn-login">Login</button>
          <div class="actionLinks pull-right">
            <a href="/register">Register</a> |
            <a href="/forgotPassword">Forgot Password?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>