<div id="profileEditList" class="relative view-profile">
	<div class="container">
		<div id="tabSection" class="row">
			<div class="col s12">
				<!-- <i class='mdi-navigation-arrow-back editTabBtn'></i> -->
				<md-sidenav class="md-sidenav-right" md-component-id="profile-nav-tab" md-is-locked-open="$mdMedia('gt-md')">
				<ul class="editTab" >
					<li>
						<a href="/myprofile/aboutSection"
							 class="waves-effect waves-light btn red active">
							About Me
						</a>
					</li>
					<li>
						<a 	href="/myprofile/picturesSection"
								class="waves-effect waves-light btn red">
							Pictures
						</a>
					</li>
					<li>
						<a 	href="/myprofile/favSection"
								class="waves-effect waves-light btn red">
							Favorites
						</a>
					</li>
					<li ng-show="currentUserDetail.uid==null || currentUserDetail.uid==undefined">
						<a 	href="/myprofile/pwdSection"
								class="waves-effect waves-light btn red">
							Change Password
						</a>
					</li>
					<li>
						<a 	href="/myprofile/subscripeSection"
								class="waves-effect waves-light btn red">
							Subscription
						</a>
					</li>
					<li>
						<a 	href="/myprofile/publicSection"
								class="waves-effect waves-light btn red">
							Make Public
						</a>
					</li>
					<li>
						<a 	href="/profile/{{current_user_id}}"
								class="waves-effect waves-light btn red">
							View profile
						</a>
					</li>
				</ul>
			</md-sidenav>
			<nav class="sub_nav" hide-gt-md><a href="#" ng-click="openProfileNav()"><i class="mdi-hardware-keyboard-arrow-left"></i></a></nav>
			</div>
		</div>
		<div id="aboutSection" class="col s12" ng-show="show == 'aboutSection'" ng-init="init">
			<div ng-hide="profile">
				<i class="fa fa-spin fa-spinner"></i>Loading.
			</div>
			<ul class="collapsible" ng-show="profile" data-collapsible="accordion">
				<li>
					<div class="collapsible-header"><i class="mdi-image-filter-drama"></i>About me <span class="notFilled" ng-if="showNotFilled"><i class="mdi-alert-error"></i>Profile is not filled</span></div>
					<div class="collapsible-body cbody-style">
						<div class="row">
							<form class="col s12" name="aboutme" ng-submit="updateProfile(aboutme)">
								<div class="row">
									<div class=" col s12">
										<md-input-container flex>
					            		<label>Tag Line</label>
					            		<textarea ng-model="profile.tag_line" columns="1" md-maxlength="50">
					            		</textarea>
				          			</md-input-container>
			          			</div>
								</div>

								<div class="row">
									<div class="col s12 m4">
										<md-input-container>
							            <label>Screen Name</label>
							            <input ng-model="profile.name" name="title" required md-maxlength="30">
							            <div ng-messages="aboutme.title.$error">
									          <div ng-message="required">Required.</div>
									          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
									        </div>
					            	</md-input-container>
									</div>
									<div class="col s12 m4 browser-options">
										<label class="fieldlabel">Gender</label>
										<select required class="browser-default" ng-model="profile.gender" >
											<option ng-repeat="opt in gender" value="{{opt}}">
												{{ opt }}
											</option>
										</select>
									</div>
									<div class="col s12 m4 browser-options">
										<label class="fieldlabel">Zodiac</label>
										<select  required class="browser-default" ng-model="profile.zodiac" >
											<option ng-repeat="opt in zodiac" value="{{opt}}">
												{{ opt }}
											</option>
										</select>									
										<!-- <md-input-container>
					            		<label>Zodiac</label>
					            		<input ng-model="profile.zodiac">
					          		</md-input-container> -->
									</div>
								</div>
								<div class="row">
									<div class="col s12 m4">
										<md-input-container>
											<label>Age</label>
					            		<input type="number" ng-model="profile.age" required min="13" name="age" max="90">
					            		<div ng-messages="aboutme.age.$error">
							          		<div ng-message="min">This is too young</div>
							        			<div ng-message="max">This is time to retire.</div>
							        		</div>
					          		</md-input-container>
									</div>								
									<div class="col s12 m4 browser-options birth">
										<label class="fieldlabel">Brith Day</label>
										<select required class="browser-default" ng-model="profile.birth_day">
											<option ng-repeat="opt in birth_day" value="{{opt}}">
												{{ opt }}
											</option>
										</select>
										<!-- <md-input-container>
											<label>Brith Day</label>
					            		<input ng-model="profile.birth_day">
					          		</md-input-container> -->
									</div>	
									<div class="col s12 m4 browser-options birth">
										<label class="fieldlabel">Brith Month</label>
										<select required class="browser-default" ng-model="profile.birth_month">
											<option ng-repeat="opt in birth_month" value="{{opt}}">
												{{ opt }}
											</option>
										</select>									
										<!-- <md-input-container>
											<label>Brith Month</label>
					            		<input ng-model="profile.birth_month">
					          		</md-input-container> -->
									</div>																	
								</div>
								<!-- <div class="row">
									<div class="col s12 m6">
										<md-input-container>
											<label>Country</label>
					            		<input ng-model="profile.country">
					          		</md-input-container>
									</div>
									<div class="col s12 m6">
										<md-input-container>
											<label>State</label>
			            				<input ng-model="profile.state">
			          				</md-input-container>
									</div>
								</div> -->
								<!-- <div class="row">
									<div class="col s12 m6">
										<md-input-container>
											<label>City</label>
					            			<input ng-model="profile.city">
					          			</md-input-container>
									</div>
									<div class="col s12 m6">
										<md-input-container>
											<label>Zip Code</label>
					            		<input ng-model="profile.zip">
					          		</md-input-container>
									</div>
								</div> -->
								<div class="row">
									<div class="col s12">
										<md-input-container>
											<label>Location</label>
				            			<input ng-model="profile.location" ng-autocomplete="profile.location">
				          			</md-input-container>
			          			</div>
								</div>
								<div class="row">
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Height</label>
										<select required class="browser-default" ng-model="profile.height">
											<option ng-repeat="opt in Height" value="{{opt}}">
												{{ opt }}
											</option>
										</select>
										<!-- <md-input-container>
											<label>Height</label>
			            				<input ng-model="profile.height">
			          				</md-input-container> -->
									</div>
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Body Type</label>
										<select required class="browser-default" ng-model="profile.body_type">
											<option ng-repeat="opt in bodyType" value="{{opt}}">
												{{ opt }}
											</option>
										</select>

										<!-- <md-select ng-model="profile.body_type" placeholder="Body Type">
											<md-option ng-value="opt" ng-repeat="opt in bodyType">
												{{ opt }}
											</md-option>
										</md-select> -->
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Ethnicity</label>
										<select required class="browser-default" ng-model="profile.ethnicity">
											<option ng-repeat="opt in ethnicity" value="{{opt}}">
												{{ opt }}
											</option>
										</select>

										<!-- <md-select ng-model="profile.ethnicity" placeholder="Ethnicity">
											<md-option ng-value="opt" ng-repeat="opt in ethnicity">
												{{ opt }}
											</md-option>
										</md-select> -->
									</div>
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Religion</label>
										<select required class="browser-default" ng-model="profile.religion">
											<option ng-repeat="opt in religion" value="{{opt}}">
												{{ opt }}
											</option>
										</select>
										<!-- <md-select ng-model="profile.religion" placeholder="Religion">
											<md-option ng-value="opt" ng-repeat="opt in religion">
												{{ opt }}
											</md-option>
										</md-select> -->
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Political Views</label>
										<select required class="browser-default" ng-model="profile.political_views" >
											<option ng-repeat="opt in political" value="{{opt}}">
												{{ opt }}
											</option>
										</select>
										<!-- <md-select ng-model="profile.political_views" placeholder="Political">
											<md-option ng-value="opt" ng-repeat="opt in political">
												{{ opt }}
											</md-option>
										</md-select> -->
									</div>
									<div class="col s12 m6">
										<md-input-container>
											<label>Profession</label>
								      		<input ng-model="profile.profession" name="Profession" required placeholder="Prefer Not to Say">
									      	<div ng-messages="relationship.Profession.$error">
								          		<div ng-message="required">Required.</div>
								         	</div>
								      	</md-input-container>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6  browser-options">

										<label class="fieldlabel">Realtionship Status *</label>
										<select required class="browser-default" ng-model="profile.relationship_status">
											<option ng-repeat="opt in relationshipstatus" value="{{opt}}">
												{{ opt }}
											</option>
										</select>

										<!-- <md-select placeholder="Realtionship Status *" ng-model="profile.relationship_status">
											<md-option ng-value="opt" 
																 ng-repeat="opt in relationshipstatus">
																 {{ opt }}
											</md-option>
										</md-select> -->
									</div>
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Longest Relationship *</label>
										<select required class="browser-default" ng-model="profile.long_relationship">
											<option ng-repeat="opt in longestreslationship" value="{{opt}}">
												{{ opt }}
											</option>
										</select>

										<!-- <md-select placeholder="Longest Relationship *" ng-model="profile.long_relationship">
											<md-option ng-value="opt" ng-repeat="opt in longestreslationship">
												{{ opt }}
											</md-option>
										</md-select> -->
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Hair Color *</label>
										<select required class="browser-default" ng-model="profile.hair_color">
											<option ng-repeat="opt in haircolor" value="{{opt}}">
												{{ opt }}
											</option>
										</select>
										<!-- <md-select placeholder="Hair Color *" ng-model="profile.hair_color">
											<md-option ng-value="opt" 
																 ng-repeat="opt in haircolor">
																 {{ opt }}
											</md-option>
										</md-select> -->									
									</div>
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Eye Color *</label>
										<select required class="browser-default" 
												ng-model="profile.eye_color">
											<option ng-repeat="opt in eyecolor" 
													value="{{opt}}">
											{{ opt }}
											</option>
										</select>

										<!-- <md-select placeholder="Eye Color *" ng-model="profile.eye_color">
											<md-option ng-value="opt" ng-repeat="opt in eyecolor">
												{{ opt }}
											</md-option>
										</md-select> -->									
									</div>
								</div>

								<div class="row">
									<div class="col s12 m6">
										<div class="col s12 pad-left pad-right browser-options">
											<label class="fieldlabel">Income</label>
											<select required class="browser-default" ng-model="profile.income_type">
												<option ng-repeat="opt in income" value="{{opt}}">
													{{ opt }}
												</option>
											</select>

											<!-- <md-select  ng-model="profile.income_type" name="amount" required placeholder="Income">
												<md-option ng-value="opt" ng-repeat="opt in incometype">
													{{ opt }}
												</md-option>
												<div ng-messages="relationship.amount.$error">
											         <div ng-message="required">Required.</div>
											      </div>
											</md-select> -->


											<!-- <md-select placeholder="Income" ng-model="profile.income">
												<md-option ng-value="opt" ng-repeat="opt in income">
													{{ opt }}
												</md-option>
											</md-select>	 -->									
										</div>
											<!-- <div class="col s9">
												<md-input-container>
													<label>Amount</label>
											      <input ng-model="profile.income_type" name="amount" required placeholder="Prefer Not to Say" required >
												   <div ng-messages="relationship.amount.$error">
											         <div ng-message="required">Required.</div>
											      </div>
										      </md-input-container>										
																						
											</div> -->
									</div>
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel"> Other Interests </label>
			            	<tags-input ng-model="profile.tags">
			            	<auto-complete source="loadInterest($query)"></auto-complete>
			            	</tags-input>
									</div>
								</div>
								<div class="row">
									<div class="col s12">
										<h3>Looking For</h3>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m4 box-style browser-options">
										<label class="fieldlabel">Gender</label>
										<select required class="browser-default" ng-model="profile.looking_for" ng-init="profile.looking_for = 'male'">
											<option ng-repeat="opt in gender" value="{{opt}}">
												{{ opt }}
											</option>
										</select>



										<!-- <md-select ng-model="profile.looking_for" ng-init="profile.looking_for = 'male'" placeholder="Gender">
											<md-option ng-value="opt" 
																 ng-repeat="opt in gender">
																 {{ opt }}
											</md-option>
										</md-select> -->
									</div>
									<div class="col s12 m2">
										<md-input-container>
									      <label>Min Age *</label>
									      <input ng-model="profile.min_age" type="number" name="lookingMinAge" required min="13" max="90">
									      <div ng-messages="aboutme.lookingMinAge.$error">
								          	<div ng-message="required">Required.</div>
								          	<div ng-message="min">This is too young</div>
								        	</div>
								    	</md-input-container>
									</div>
									<div class="col s12 m2">
										<md-input-container>
								      	<label>Max Age *</label>
								      	<input ng-model="profile.max_age"  type="number" name="lookingMaxAge" required max="90" min="{{profile.min_age}}">
								      	<div ng-messages="aboutme.lookingMaxAge.$error">
							          		<div ng-message="required">Required.</div>
							          		<div ng-message="max">This is time to retire.</div>
							          		<div ng-message="min">This is Higher then min age.</div>
							        		</div>
								    	</md-input-container>
									</div>
									<div class="col s12 m4 box-style browser-options">
										<label class="fieldlabel">Relationship Type *</label>
										<select required class="browser-default" ng-model="profile.relationship_type">
											<option ng-repeat="opt in relationShip" value="{{opt}}">
												{{ opt }}
											</option>
										</select>
										<!-- <md-select placeholder="Realtion Type *" 
										           ng-model="profile.relationship_type">
											<md-option ng-value="opt" 
																 ng-repeat="opt in relationShip">
																 {{ opt }}
											</md-option> -->
										</md-select>
									</div>
								</div>
								<div class="row">
									<div class="col s12">
										 <md-input-container flex>
							        <label>Additional qualities</label>
							        <textarea ng-model="profile.other_qualities" columns="1" md-maxlength="150">
							        </textarea>
							      </md-input-container>
									</div>
								</div>
								<div class="row">
									<div class="col s12">
										<button  type="submit" class="waves-effect waves-light btn blue">
											Update
										</button>
										<!-- <div ng-hide="aboutme.$valid">
											Please check all fields.
										</div> -->
										<div ng-show="updated.aboutme==true">
												Profile details successfully updated
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</li>
				<li id="More">
					<div class="collapsible-header"><i class="mdi-social-school"></i>More About Me
					<span class="notFilled" ng-if="showNotFilled">All Fields Required</span></div>
					<div class="collapsible-body cbody-style">
						<div class="row">
							<form class="col s12" name="education" ng-submit="updateProfile(education)">
								<div class="row">
									<div class="col s12 m6 browser-options">
										<label class="fieldlabel">Education</label>
										<select required class="browser-default" ng-model="profile.education" required>
											<option ng-repeat="opt in education_list" value="{{opt}}">
												{{ opt }}
											</option>
										</select>
										<!-- <md-select ng-model="profile.education" name="education" required placeholder="Education">
											<md-option ng-value="opt" ng-repeat="opt in education_list">
												{{ opt }}
											</md-option>
									      	<div ng-messages="education.education.$error">
								          		<div ng-message="required">Required.</div>
								          		 <div ng-message="max">This is time to retire.</div>
								         	</div>
										</md-select> -->
										<!-- <md-input-container>
										<label>Education *</label>
								      		<input ng-model="profile.education" name="education" required placeholder="Prefer Not to Say">
									      <div ng-messages="education.education.$error">
								          <div ng-message="required">Required.</div>
								          <!-- <div ng-message="max">This is time to retire.</div> 
								         </div>
								      </md-input-container> -->
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Do you smoke?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.smoker">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Will you go out with someone who smokes?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.go_with_smoker">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>											
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Do you do drugs?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.drug_adict">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Will you go out with someone who does drugs?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.go_with_drug_addict">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Do you have children?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.have_children">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Will you go out with someone who has children?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.go_with_have_children">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Do you want children?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.need_children">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Do you have car?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.have_car">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Do you drink?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.drinker">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Will you go out with someone who drinks?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.go_with_drinker">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Do you believe in karma?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.believe_karma">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Would you go out with someone who does not believe?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.go_with_not_believe_karma">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Do you have pets?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.have_pets">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
									<div class="col s12 m6">
										<div class="card-panel blue-grey lighten-5 cp-style">
											<span class="black-text radioLabel ellipsis">Will you go out with someone who has pets?
											</span>
											<span class="right radioBtns">
												<span>
													<md-radio-group ng-model="profile.go_with_has_pets">
      												<md-radio-button value="1">Yes</md-radio-button>
      												<md-radio-button value="0">No</md-radio-button>
      											</md-radio-group>
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col s12">
										<button type="submit" class="waves-effect waves-light btn blue">
											Update
										</button>
										<div ng-show="updated.education==true">
												Profile details successfully updated
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="mdi-editor-border-color"></i>Additional Details</div>
					<div class="collapsible-body cbody-style">
						<form class="col s12" name="description" ng-submit="updateProfile(descripton)">
							<div class="row">
								<div class="col s12">
									<md-input-container flex>
							        <label>I find my zen moment when I</label>
							        <textarea ng-model="profile.zen_moment" columns="1" md-maxlength="150">
							        </textarea>
							      </md-input-container>								
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<md-input-container flex>
							        <label>I get inspired when I</label>
							        <textarea ng-model="profile.get_inspired" columns="1" md-maxlength="150">
							        </textarea>
							      </md-input-container>								
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<md-input-container flex>
							        <label>I score good karma points when I</label>
							        <textarea ng-model="profile.good_karma_points" columns="1" md-maxlength="150">
							        </textarea>
							      </md-input-container>								
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<md-input-container flex>
							        <label>I score bad karma points when I</label>
							        <textarea ng-model="profile.my_type_if" columns="1" md-maxlength="150">
							        </textarea>
							      </md-input-container>								
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<md-input-container flex>
							        <label>Other things about me that might interest you</label>
							        <textarea ng-model="profile.others_interested_about" columns="1" md-maxlength="150">
							        </textarea>
							      </md-input-container>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<button type="submit" class="waves-effect waves-light btn blue">
										Update
									</button>
									<div ng-hide="description.$valid">
										Please check all fields.
									</div>
									<div ng-show="updated.description==true">
												Profile details successfully updated
									</div>
									<!-- <a href="" type="submit" class="waves-effect waves-light btn red">Cancel</a> -->
								</div>
							</div>
						</form>
					</div>
				</li>
			</ul>
		</div>
		<div id="picturesSection" class="col s12" ng-show="show == 'picturesSection'">
			<div class="row" ng-show="files.length!=0">
				<div class="col s12">
					<div class="upload">+ Add Files
						<input  ng-show="files.length < 18" class="manualUpload" type="file" multiple class="manualUpload waves-effect waves-light btn green"/>
					</div>
					<p>
						Uploaded <span>{{files.length}}</span> out of 18 Photos. You can upload only <span>{{18 - files.length}}</span> more Photo
					</p>
					<p>Your face MUST be clearly visible in your MAIN IMAGE. All images MUST contain you. Images of cartoons, celebrities, bare torsos and joke pictures will be deleted. Improve the images on your profile to get the most responses!
					</p>
					<p>Set your images to private to only share them with people in a message. <span>UPLOADING NUDITY WILL GET YOUR ACCOUNT DELETED</p>
				</div>
			</div>
			<div class="row UploadMoreOptions" ng-hide="files.length!=0">
				<div class="col s12">
					<div class="row">
						<div class="col s12 m6 l3">
							<div class="UploadOptions UploadOptionsTitle">
								Select Your Images
							</div>
							<div class="UploadOptions upload"><i class="fa fa-desktop"></i><span>Upload Images</span>
							<input  ng-show="files.length < 18" class="manualUpload" type="file" multiple class="manualUpload waves-effect waves-light btn green"/>
							</div>					
						</div>
						<div class="col s12 m6 l9">
							<div class="UploadDesc">
								<span>Add 18 images to your profile.</span>
							</div>
							<div class="UploadDesc">
								Your face MUST be clearly visible in your MAIN IMAGE. All images MUST contain you. Images of cartoons, celebrities, bare torsos and joke pictures will be deleted. <a href="#">Improve the images</a> on your profile to get the most responses!
							</div>
							<div class="UploadDesc">
								Set your images to private to only share them with people in a message. <span>UPLOADING NUDITY WILL GET YOUR ACCOUNT DELETED</span>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<!-- <div class="row">
				<div class="col s12">
					<div class="upload">+ Add Files
						<input  ng-show="files.length < 18" class="manualUpload" type="file" multiple class="manualUpload waves-effect waves-light btn green"/>
					</div>
					<p>
						Uploaded <span>{{files.length}}</span> out of 18 Photos. You can upload only <span>{{18 - files.length}}</span> more Photo
					</p>
				</div>
			</div> -->
			<div class="row">
				<ul class="gallery-pictures">
					<div ng-hide="favourites">
      			<i class="fa fa-spin fa-spinner"></i> Loading
      		</div>
					<li ng-show="files" 
							ng-repeat="file in files track by $index" id="{{file['_id']['$oid']}}">
						<div class="card userPicturesCard card-style center-align">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" ng-src="{{file.file.url}}">
							</div>
							<div class="card-action">
								<span ng-if="!file.profile_pic">
									<a ng-click="setProfilePic(file,$index)" 
										 class="waves-effect waves-light btn-flat">
										Set as Profile Pic
									</a>
								</span>
								<span ng-if="file.profile_pic">
									<a class="waves-effect waves-light btn-flat">
										<i class="fa fa-check"></i>
										Profile Pic
									</a>
								</span>
								<i ng-click="removeImage(file,$index)" class="mdi-navigation-close right closeBtn"></i>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="favSection" class="col s12" ng-show="show == 'favSection'">

      <div class="row searchResultTitle">
        <span class="searchTitle">My Favorites</span>
      </div>
      <div class="row">
      	<div ng-hide="favourites">
      		<i class="fa fa-spin fa-spinner"></i> Loading
      	</div>
        <div class="col s12 m4 l3" ng-show="favourites" ng-repeat="user in favourites">
          <div class="card card-style">
            <div class="card-image waves-effect waves-block waves-light userimg">
              <a href="/profile/{{user['_id']['$oid']}}">
	              <img ng-show="user.profileImage.file.url" class="activator" ng-src="{{user.profileImage.file.url}}">
	              <img ng-hide="user.profileImage.file.url" class="activator" ng-src="/assets/userProf/u1.jpg">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4 user-Name ellipsis">
                {{user.profile.name}}
              </span>
              <div class="user-status">
                <span class="online status-label">
                  Seen {{user.last_seen | timeAgo}}
                </span>
              </div>
              <div class="card-action center-align user-icons">
                <a href="#" ng-click="makeFavourite(user)">
                  <i class="mdi-action-favorite"  ng-class="user.favourite? 'active':''"></i>
                </a>
                <a ng-if="user.isFriend" href="/message/compose/{{user['_id']['$oid']}}">
                  <i class="mdi-content-mail">
                  </i>
                </a>
                <a ng-if="!user.isFriend && currentUserDetail.profile.paymentStatus == 'active'" 
                	 ng-click="requestFriend(user['_id']['$oid'])">
                  <i class="mdi-content-mail">
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

		</div>
		<div id="pwdSection" class="col s12" ng-show="show == 'pwdSection'">
			<div class="row Pwchange ">
				<form class="col s12" >
					<div class="row">
						<div class="col s12">
							<md-input-container>
							   <label>Current Password</label>
							   <input id="currenPassword" ng-model="changePassword.currentPassword" type="password" class="validate">
					      </md-input-container>
							<!-- <input id="currenPassword" type="password" class="validate">
							<label for="currenPassword">Current Password</label> -->
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<md-input-container>
							   <label>New Password</label>
							   <input id="newPassword" ng-model="changePassword.newPassword" type="password" class="validate">
					      </md-input-container>

							<!-- <input id="newPassword" type="password" class="validate">
							<label for="newPassword">New Password</label> -->
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<md-input-container>
							   <label>Confirm Password</label>
							   <input id="confirmPassword" ng-model="changePassword.confirmPassword" type="password" class="validate">
					      </md-input-container>
							<!-- <input id="confirmPassword" type="password" class="validate">
							<label for="confirmPassword">Confirm Password</label> -->
						</div>
					</div>
					<div class="row">
						<a class="waves-effect waves-light btn red" ng-click="updatePassword()">Update</a>
					</div>
				</form>
			</div>
		</div>
		<div id="subscripeSection" class="col s12" ng-show="show == 'subscripeSection'">
			<div class="row subscripePriceCard">
				<div class="col s12 m4 offset-m4" ng-init="subscribe = false">
					<div class="card subscripeContent center-align"
							 ng-show="subscribe == false && userModel.detail.profile.paymentStatus != 'active'">
						<div class="card-content">
							<p class="grey-text">For subscription<br> $9.99/month<br> only</p>
						</div>
						<div class="card-action">
							<span class="waves-effect waves-light btn red white-text" 
								    ng-click="subscribe = !subscribe">
								 Subscribe
							</span>
						</div>
					</div>
					<div class="card subscripeContent center-align" 
							 ng-show="subscribe == true && userModel.detail.profile.paymentStatus != 'active'">
						<div class="card-content">
							<span class="green-text payingText">
								Paying : $9.99 <br>
								Monthly subscription
							</span>
							<form stripe:form="saveCustomer">
							  <fieldset>
							    <input type="text" size="16" data-stripe="number" placeholder="Card number"/>
							    <span class="error" 
							    			ng-show="cardError.param == 'number'"> 
							    		{{cardError.message}}
							    </span>
							    <input type="text" size="4" data-stripe="cvc" placeholder="CSV"/>
							    <span class="error" 
							    			ng-show="cardError.param == 'cvc'"> 
							    		{{cardError.message}}
							    </span>
							    <input type="text" size="2" data-stripe="exp-month" placeholder="Exp month"/>
							    <span class="error" 
							    			ng-show="cardError.param == 'exp_month'"> 
							    		{{cardError.message}}
							    </span>
							    <input type="text" size="4" data-stripe="exp-year" placeholder="Exp year"/>
							    <span class="error" 
							    			ng-show="cardError.param == 'exp_year'"> 
							    		{{cardError.message}}
							    </span>
							  </fieldset>
							  <div class="card-action">
							  	<span ng-show="paymentProgress == 'Subscribe'" >
								  	<button ng-init="paymentProgress = 'Subscribe'"
								  					ng-click="paymentProgress = 'Verifying'"
								  					class="waves-effect waves-light btn red white-text" 
								  					type="submit">
								  		{{paymentProgress}}
								  	</button>
								  </span>
								  <span ng-show="paymentProgress != 'Subscribe'" >
								  	<span class="waves-effect waves-light btn white-text">
								  		{{paymentProgress}}
								  	</span>
								  </span>
							  </div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row subscripePromoCard" ng-show="userModel.detail.profile.paymentStatus != 'active'">
				<div class="col s12 m6 offset-m3">
					<div class="card  subscripeContent center-align">
						<div class="card-content">
							<div class="input-field">
								<input type="text" id="promoCode" ng-model="promoCode" ng-enter="subscribePromo()">
								<label for="promoCode">Enter Your Promo Code</label>
							</div>
							<button ng-click="subscribePromo()" class="waves-effect waves-light btn red white-text" 
>Submit</button>
							</div>
					</div>
				</div>
			</div>
			<div class="row subscripeCancelCard" ng-show="userModel.detail.profile.paymentStatus == 'active'">
				<div class="col s12 m6 offset-m3">
					<div class="card  subscripeContent center-align">
						<div class="card-content">
							<p>You are subscriped to the mustbe karma on monthly basis</p>
						</div>
						<div class="card-action">
							<a class="waves-effect waves-light btn red white-text" ng-click="cancelSubscription()">Cancel Subscription</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="publicSection" class="col s12" ng-show="show == 'publicSection'">
			<div class="row subscripePriceCard">
				<div class="col s12 m4 offset-m4">
					<div class="card subscripeContent center-align">
						<div class="card-content">
							<p class="grey-text">Sample Text Sample Text <br>Sample Text  <br> Text </p>
						</div>
						<div class="card-action">
							<a ng-click="makePublic(!profile.is_public)" class="waves-effect waves-light btn red white-text">
								{{ (profile.is_public==true)? "Make It Private": "Make It Public" }}
							</a>
							<a href="/profile/{{current_user_id}}" class="waves-effect waves-light">How my Profile Looks?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){

		//$(".button-collapse").sideNav();

	// $(".btn-tabHeader").click(function(){
	// 	$(this).sideNav({edge: 'right'});
	// 	$('#nav-mobile2').animate({'right': 0}, {'duration': 300}).addClass('left-auto');
	// })

	//profile
	// var t= $('.editTab');
	// $('.editTabBtn').click(function(){
	// 	t.animate({left:'0'});
	// });

	// $('body').on('click',function(){
	// 	$('.drag-target').removeClass('z-zero');
	// 	$('#nav-mobile').animate({'left':-250}, {'duration': 300});
	// 	// $('#nav-mobile2').css({'right':-250});
	// 	$('#sidenav-overlay').css('opacity', '0');
	// 	$('.drag-target').addClass('z-zero');

	// 	if(t.css('left') == "0px"){
	// 		t.animate({left:'-250'});
	// 	}
	// });

	// Slider
	// $("#slides").slidesjs({
	// 	// width: 940,
	// 	height: 400,
	// });
	// Select
	// $('select').material_select();

	// Accordion
	$('.collapsible').collapsible({
		accordion : true,
		contentOpen: 0
	});

    //Datepicker
  // $('.datepicker').pickadate();
});
</script>