<div class="register view-profile">
  <h3 class="lead">
    Register
  </h3>
  <div class="Register-Mandatory-Title">
    All fields are Mandatory
  </div>
  <div class="registerForm">
    <div class="col-xs-4 col-xs-offset-4 marginTop100 well">
      <form name="registerForm">
        <div class="row">
          <md-input-container>
            <label>Screen Name</label>
            <input required ng-model="user.name" name="name">
            <!-- <div ng-messages="registerForm.name.$error">
              <div ng-message="required">Required.</div>
            </div> -->
          </md-input-container>
          <span ng-show="userModel.regError['name']" class="error">
            Name {{userModel.regError['name'][0]}}
          </span>
        </div>
        <div class="row">
          <md-input-container>
            <label>Email</label>
            <input required ng-model="user.email" name="email">
            <!-- <div ng-messages="registerForm.email.$error">
              <div ng-message="required">Required.</div>
            </div> -->
          </md-input-container>
          <span ng-show="userModel.regError['email']" class="error">
            Email {{userModel.regError['email'][0]}}
          </span>
        </div>
        <div class="row">
          <md-input-container>
            <label>Password</label>
            <input required type="password" name="password" ng-model="user.password" ng-enter="register()">
            <!-- <div ng-messages="registerForm.password.$error">
              <div ng-message="required">Required.</div>
            </div> -->
          </md-input-container>
          <span ng-show="userModel.regError['password']" class="error">
            Password {{userModel.regError['password'][0]}}
          </span>
        </div>
        <div class="row">
          <md-input-container>
            <label>Reenter Password</label>
            <input required type="password" name="repassword" 
                   ng-model="user.password_confirmation" ng-enter="register()">
            <!-- <div ng-messages="registerForm.repassword.$error">
              <div ng-message="required">Required.</div>
            </div> -->
          </md-input-container>
          <span ng-show="userModel.regError['conpassword']" class="error">
            Password {{userModel.regError['conpassword'][0]}}
          </span>
        </div>
        <button type="submit" ng-click="register()" class="btn btn-default">Submit</button>
        <div class="actionLinks pull-right">
          <a href="/login">Login</a> |
          <a href="/forgotPassword">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>