<div id="searchContainer" class="searchContainer view-profile">
	<div class="container">
		<div id="SearchtabSection" class="row">
			<div class="col s12">
				<a class="editTabBtn" ng-mouseover="openSearchNav()"><i class='mdi-navigation-more-vert' ></i></a>
				<a class="editTabBtn" ng-mouseover="openFilter()"><i class='mdi-action-search ' ></i></a>
				<md-sidenav class="md-sidenav-right" md-component-id="search-nav-tab" md-is-locked-open="$mdMedia('gt-md')">

				<ul class="editTab">
					<li id="basicSrchBtn">
						<a href="/search/basicSearch" 
						class="waves-effect waves-light btn"
						ng-class="(show == 'basicSearch')?'':'red'">
						Basic Search
					</a>
				</li>
				<li>
					<a href="/search/userNameSearch" 
					class="waves-effect waves-light btn"
					ng-class="(show == 'userNameSearch')?'':'red'">
					User Search
				</a>
			</li>
			<li>
				<a href="/search/interestMe" 
				class="waves-effect waves-light btn"
				ng-class="(show == 'interestMe')?'':'red'">
				Interest Me
			</a>
		</li>
		<li>
			<a href="/search/advancedSearch" 
			class="waves-effect waves-light btn"
			ng-click="show_search_result = false"
			ng-class="(show == 'advancedSearch')?'':'red'">
			Advanced Search
		</a>
	</li>
</ul>
</md-sidenav>
</div>
</div>
<div class="section" id="basicSearch" ng-show="show == 'basicSearch'">
<md-sidenav class="md-sidenav-right" md-component-id="basic-search-filter" md-is-locked-open="$mdMedia('gt-md')">
	<div class="card">
		<div class="card-content padBtmZero">
			<form class="basicSearchForm" name="basicsearchForm">
				<div class="row mrgnBtmZero">
					<div class="col s12 m12 l1 browser-options ageBox">

						<label class="fieldlabels">Gender</label>
						<select class="browser-default" ng-model="basicsearch.gender">
							<option ng-repeat="opt in gender" value="{{opt}}">
								{{ opt }}
							</option>
						</select>
								<!-- <md-select ng-model="basicsearch.gender" placeholder="Gender">
									<md-option ng-value="opt" ng-repeat="opt in gender">
										{{ opt }}
									</md-option>
								</md-select>	 -->						
							</div>
							<div class="col s12 m12 l3">
								<div class="col s5 m5">
									<md-input-container>
									<label>From Age</label>
									<input type="number" ng-model="basicsearch.min_age" name="lookingMinAge" required min="13">
									<div ng-messages="basicsearchForm.lookingMinAge.$error">
										<div ng-message="min">Too Young</div>
									</div> 
								</md-input-container>								
							</div>
							<div class="col s5 m5">
								<md-input-container>
								<label>To Age</label>
								<input type ="number" ng-model="basicsearch.max_age"  name="lookingMaxAge" required max="90">
								<div ng-messages="basicsearchForm.lookingMaxAge.$error">
									<div ng-message="max">Retired</div>
								</div>
							</md-input-container>								
						</div>
					</div>
					<div class="col s12 m12 l2 search-style browser-options">
						<label class="fieldlabels">Zodiac</label>
						<select class="browser-default" ng-model="basicsearch.zodiac">
							<option ng-repeat="opt in zodiac" value="{{opt}}">
								{{ opt }}
							</option>
						</select>	

								<!-- <md-input-container>
		            			<label>Zodiac</label>
		            			<input ng-model="basicsearch.zodiac">
		            		</md-input-container> -->
		            	</div>
		            	<div class="col s12 m12 l2 search-style browser-options">
		            		<label class="fieldlabels">Body Type</label>
		            		<select class="browser-default" ng-model="basicsearch.body_type">
		            			<option ng-repeat="opt in bodyType" value="{{opt}}">
		            				{{ opt }}
		            			</option>
		            		</select>	

								<!-- <md-select ng-model="basicsearch.body_type" placeholder="Body Type">
									<md-option ng-value="opt" ng-repeat="opt in bodyType">
										{{ opt }}
									</md-option>
								</md-select> -->
							</div>
							<div class="col s12 m12 l2 search-style browser-options">
								<label class="fieldlabels">Education</label>
								<select class="browser-default" ng-model="basicsearch.education">
									<option ng-repeat="opt in education_list" value="{{opt}}">
										{{ opt }}
									</option>
								</select>	
								<!-- <md-input-container>
									<label>Education</label>
		            			<input ng-model="basicsearch.education">
		            		</md-input-container> -->							
		            	</div>
		            	<div class="col s12 m12 l2 search-style browser-options">
		            		<label class="fieldlabels">Ethnicity</label>
		            		<select class="browser-default" ng-model="basicsearch.ethnicity">
		            			<option ng-repeat="opt in ethnicity" value="{{opt}}">
		            				{{ opt }}
		            			</option>
		            		</select>

								<!-- <md-select ng-model="basicsearch.ethnicity" placeholder="Ethnicity">
									<md-option ng-value="opt" ng-repeat="opt in ethnicity">
										{{ opt }}
									</md-option>
								</md-select> -->
							</div>
						</div>
						<div class="row">
							<!-- <div class="col s12 m12 l2">
								<md-input-container>
									<label>Country</label>
			            		<input ng-model="basicsearch.country">
			          			</md-input-container>							
			          		</div> -->
			          		<div class="col s12 m12 l3">
			          			<md-input-container>
<!-- 			          			<label>Location</label>
 -->			          			<input ng-autocomplete="basicsearch.location" 
			          			ng-model="basicsearch.location">
			          		</md-input-container>								
			          	</div>
							<!-- <div class="col s12 m12 l1">
								<md-input-container>
									<label>Zip</label>
			            		<input ng-model="basicsearch.zip">
			          			</md-input-container>							
			          		</div> -->
			          		<div class="input-field col s12 m12 l2">
			          			<a href="#" ng-click="basicSearch()" class="waves-effect waves-light btn red white-text">
			          				Search
			          			</a>
			          			 <md-button ng-click="closeFilter()" class="md-primary" hide-gt-md>
							          close
							        </md-button>
			          		</div>

			          	</div>
			          </form>
			        </div>
			      </div>
			      			        </md-sidenav>

			    </div>
			    <div class="section" id="userNameSearch" ng-show="show == 'userNameSearch'">
			    	<div class="row">
			    		<div class="card col s12 m8 offset-m2" name="usernamesearch">
			    			<div class="card-content padBtmZero">
			    				<div>User's name search</div>
			    				<div class="row">
			    					<div class="col s12 m8">
			    						<md-input-container>
			    						<label>Enter User's Name</label>
			    						<input ng-model="usersearch.name">
			    					</md-input-container>							
			    				</div>
			    				<div class="col s12 m4">
			    					<a href="#" ng-click="usernamesearch()" class="waves-effect waves-light btn red white-text btn-style">Find User</a>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    </div>
			  </div>
			  <div class="section" id="interestMe" ng-show="show == 'interestMe'">
			  	<div class="row">
			  		<div class="card">
			  			<div class="card-content center-align padBtmZero" name="interest">
			  				<div class="row mrgnBtmZero">
			  					<div class="input-field col s12 l8 offset-l2">
			  						<label for=""> My Interest </label>
			  						<tags-input placeholder="Add your interest" ng-model="userinterest.tags">
			  						<auto-complete source="loadInterest($query)"></auto-complete>
			  					</tags-input>
			  				</div>
			  				<a href="#" 
			  				ng-click="interestsearch()" 
			  				class="waves-effect waves-light btn red white-text btn-style">
			  				Find User
			  			</a>
			  		</div>
			  	</div>
			  </div>
			</div>
		</div>
		<div class="section" id="advancedSearch" ng-show="show == 'advancedSearch'">
			<div class="row">
				<div class="card">
					<div class="card-content">
						<div ng-show="saved_searches.length>0">
							<div class="saved">Saved Searches</div>
							<div class="savedsearch" >
								<ul class="savedsearchs">
									<li ng-repeat="search in saved_searches">
										<span ng-click="loadSearch(search)">{{search.search_name}}
										</span>
										<a class="load-btns" ng-click="deleteSearch($index)"><i class="fa fa-times"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<form class="col s12" name="advancesearch_form" id="adsearch">
							<div class="row">
								<div class="col s12 m6 browser-options ageBox1 ">
									<label class="fieldlabel">Seeking</label>
									<select class="browser-default"  ng-model="advancesearch.gender">
										<option ng-repeat="opt in gender" value="{{opt}}">
											{{ opt }}
										</option>
									</select>

									<!-- <label for="f1">Seeking</label>
									<md-select ng-model="advancesearch.gender" placeholder="Gender">
										<md-option ng-value="opt" ng-repeat="opt in gender">
											{{ opt }}
										</md-option>
									</md-select> -->
								</div>
								<div class="col s12 m6">
									<div class="col s4 m4 pad-l">
										<label for="f1">Age</label>
										<md-input-container>
										<label>From</label>
										<input ng-model="advancesearch.min_age" name="lookingMinAge" required min="16">
										<div ng-messages="advancesearch_form.lookingMinAge.$error">
											<div ng-message="min">This is too young</div>
										</div>
									</md-input-container>									
								</div>
								<div class="col s4 m4">
									<label for="f1">Age</label>
									<md-input-container>
									<label>To</label>
									<input ng-model="advancesearch.max_age" name="lookingMaxAge" required max="90">
									<div ng-messages="advancesearch_form.lookingMaxAge.$error">
										<!-- <div ng-message="required">This is required.</div> -->
										<div ng-message="max">This is time to retire.</div>
									</div>
								</md-input-container>	
							</div>
						</div>
					</div>
							<!-- <div class="row">
								<div class="col s12 m6">
									<md-input-container>
										<label>Country</label>
				            		<input ng-model="advancesearch.country">
					         	</md-input-container>									
								</div>
								<div class="col s12 m6">
									<md-input-container>
										<label>State</label>
					            	<input ng-model="advancesearch.state">
					          	</md-input-container>
								</div>
							</div> -->
							<div class="row">
								<div class="col s12 m6">
									<md-input-container>
									<label>Loaction</label>
									<input ng-model="advancesearch.country">
								</md-input-container>	
									<!-- <md-input-container>
										<label>Zip</label>
					            	<input ng-model="advancesearch.zip">
					            </md-input-container> -->
					          </div>
					          <div class="col s12 m6">
					          	<md-input-container>
					          	<label>Miles</label>
					          	<input ng-model="advancesearch.miles">
					          </md-input-container>
					        </div>
					      </div>
					      <div class="row">
					      	<div class="col s12 m6 browser-options">
					      		<label class="fieldlabel">Religion</label>
					      		<select class="browser-default"  ng-model="advancesearch.religion">
					      			<option ng-repeat="opt in religion" value="{{opt}}">
					      				{{ opt }}
					      			</option>
					      		</select>
									<!-- <md-input-container>
										<label>Religion</label>
					            	<input ng-model="advancesearch.religion">
					            </md-input-container> -->
					          </div>
					          <div class="col s12 m6 browser-options">
					          	<label class="fieldlabel">Ethnicity</label>
					          	<select class="browser-default"  ng-model="advancesearch.ethnicity">
					          		<option ng-repeat="opt in ethnicity" value="{{opt}}">
					          			{{ opt }}
					          		</option>
					          	</select>
									<!-- <md-input-container>
										<label>Ethnicity</label>
			            			<input ng-model="advancesearch.ethnicity">
			            		</md-input-container> -->
			            	</div>
			            </div>
			            <div class="row">
			            	<div class="col s12 m6">
			            		<div class="card-panel blue-grey lighten-5 cp-style">
			            			<span class="black-text radioLabel radioLabel1 ellipsis">Smokes?
			            			</span>
			            			<span class="right radioBtns radioBtns1">
			            				<span>
			            					<md-checkbox ng-model="advancesearch.smoker" aria-label="Checkbox 1">
			            				</md-checkbox>
			            			</span>
			            		</span>
			            	</div>
			            </div>
			            <div class="col s12 m6">
			            	<div class="card-panel blue-grey lighten-5 cp-style">
			            		<span class="black-text radioLabel radioLabel1 ellipsis">Will you go out with someone who smokes?
			            		</span>
			            		<span class="right radioBtns radioBtns1">
			            			<span>
			            				<md-checkbox ng-model="advancesearch.go_with_smoker" aria-label="Checkbox 2">
			            			</md-checkbox>
			            		</span>
			            	</span>											
			            </div>
			          </div>
			        </div>							
			        <div class="row">
			        	<div class="col s12 m6">
			        		<div class="card-panel blue-grey lighten-5 cp-style">
			        			<span class="black-text radioLabel radioLabel1 ellipsis">Does drugs?
			        			</span>
			        			<span class="right radioBtns radioBtns1">
			        				<span>
			        					<md-checkbox ng-model="advancesearch.drug_adict" aria-label="Checkbox 3">
			        				</md-checkbox>
			        			</span>
			        		</span>
			        	</div>
			        </div>
			        <div class="col s12 m6">
			        	<div class="card-panel blue-grey lighten-5 cp-style">
			        		<span class="black-text radioLabel radioLabel1 ellipsis">Will go out with someone who does drugs?
			        		</span>
			        		<span class="right radioBtns radioBtns1">
			        			<span>
			        				<md-checkbox ng-model="advancesearch.go_with_drug_addict" aria-label="Checkbox 4">
			        			</md-checkbox>
			        		</span>
			        	</span>											
			        </div>
			      </div>
			    </div>
			    <div class="row">
			    	<div class="col s12 m6">
			    		<div class="card-panel blue-grey lighten-5 cp-style">
			    			<span class="black-text radioLabel radioLabel1 ellipsis">Does have children?
			    			</span>
			    			<span class="right radioBtns radioBtns1">
			    				<span>
			    					<md-checkbox ng-model="advancesearch.have_children" aria-label="Checkbox 5">
			    				</md-checkbox>
			    			</span>
			    		</span>
			    	</div>
			    </div>
			    <div class="col s12 m6">
			    	<div class="card-panel blue-grey lighten-5 cp-style">
			    		<span class="black-text radioLabel radioLabel1 ellipsis">Will go out with someone who has children?
			    		</span>
			    		<span class="right radioBtns radioBtns1">
			    			<span>
			    				<md-checkbox ng-model="advancesearch.go_with_have_children" aria-label="Checkbox 6">
			    			</md-checkbox>
			    		</span>
			    	</span>											
			    </div>
			  </div>
			</div>
			<div class="row">
				<div class="col s12 m6">
					<div class="card-panel blue-grey lighten-5 cp-style">
						<span class="black-text radioLabel radioLabel1 ellipsis">Does want children?
						</span>
						<span class="right radioBtns radioBtns1">
							<span>
								<md-checkbox ng-model="advancesearch.need_children" aria-label="Checkbox 7">
							</md-checkbox>
						</span>
					</span>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="card-panel blue-grey lighten-5 cp-style">
					<span class="black-text radioLabel radioLabel1 ellipsis">Drinks?
					</span>
					<span class="right radioBtns radioBtns1">
						<span>
							<md-checkbox ng-model="advancesearch.drinker" aria-label="Checkbox 8">
						</md-checkbox>
					</span>
				</span>											
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card-panel blue-grey lighten-5 cp-style">
				<span class="black-text radioLabel radioLabel1 ellipsis">Will go out with someone who drinks?
				</span>
				<span class="right radioBtns radioBtns1">
					<span>
						<md-checkbox ng-model="advancesearch.go_with_drinker" aria-label="Checkbox 9">
					</md-checkbox>
				</span>
			</span>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card-panel blue-grey lighten-5 cp-style">
			<span class="black-text radioLabel radioLabel1 ellipsis">Does believe in karma?</span>
			<span class="right radioBtns radioBtns1">
				<span>
					<md-checkbox ng-model="advancesearch.believe_karma" aria-label="Checkbox 10">
				</md-checkbox>
			</span>
		</span>											
	</div>
</div>
</div>
<div class="row">
	<div class="col s12 m6">
		<div class="card-panel blue-grey lighten-5 cp-style">
			<span class="black-text radioLabel radioLabel1 ellipsis">Would go out with someone who does not believe?
			</span>
			<span class="right radioBtns radioBtns1">
				<span>
					<md-checkbox ng-model="advancesearch.go_with_not_believe_karma" aria-label="Checkbox 11">
				</md-checkbox>
			</span>
		</span>
	</div>
</div>
<div class="col s12 m6">
	<div class="card-panel blue-grey lighten-5 cp-style">
		<span class="black-text radioLabel radioLabel1 ellipsis">Has pets?</span>
		<span class="right radioBtns radioBtns1">
			<span>
				<md-checkbox ng-model="advancesearch.have_pets" aria-label="Checkbox 12">
			</md-checkbox>
		</span>
	</span>											
</div>
</div>
</div>
<div class="row">
	<div class="col s12 m6">
		<div class="card-panel blue-grey lighten-5 cp-style">
			<span class="black-text radioLabel radioLabel1 ellipsis">Will go out with someone who has pets?
			</span>
			<span class="right radioBtns radioBtns1">
				<span>
					<md-checkbox ng-model="advancesearch.go_with_has_pets" aria-label="Checkbox 13">
				</md-checkbox>
			</span>
		</span>
	</div>
</div>
<div class="col s12 m6">
	<div class="card-panel blue-grey lighten-5 cp-style">
		<span class="black-text radioLabel radioLabel1 ellipsis">Has a car?</span>
		<span class="right radioBtns radioBtns1">
			<span>
				<md-checkbox ng-model="advancesearch.have_car" aria-label="Checkbox 14">
			</md-checkbox>
		</span>
	</span>											
</div>
</div>
</div>
<div class="row center-align">
	<a class="waves-effect waves-light btn white-text" ng-click="advancedSearch()">
		Search
	</a>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="section" id="searchResults" ng-show="show_search_result == true">
	<div class="row searchResultTitle">
		<span class="searchTitle">Search Results</span>
		<span ng-show="starting_row"> 
			(Results <span>{{starting_row}}</span> to <span>{{ending_row}}</span> of <span>{{total_records}}</span>)
		</span>
		<span ng-show="open_back"><a class="waves-effect waves-light btn white-text"  ng-click="backToAdvancedSearch()">
		Back
	</a>
	</div>
	<div ng-show="searchResults.length == 0">
		No result found.
	</div>
	<div class="row">
		<div  ng-repeat="user in searchResults">
			<div class="col s12 m4 l3">
				<div class="card card-style">
					<div class="card-image waves-effect waves-block waves-light userimg">
						<a href="/profile/{{user['_id']['$oid']}}">
							<img ng-show="user.profileImage.file.url" class="activator" ng-src="{{user.profileImage.file.url}}">
							<img ng-hide="user.profileImage.file.url" class="activator" ng-src="/assets/userProf/u1.jpg">
						</a>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4 user-Name ellipsis">
							{{user.profile.name}}
						</span>
						<div class="user-status">
							{{user.last_seen | timeAgo}}
						</div>
						<div class="card-action center-align user-icons">
							<a href="#" ng-click="makeFavourite(user)">
								<i class="mdi-action-favorite"  ng-class="user.favourite? 'active':''"></i>
							</a>
							<a ng-if="user.isFriend" href="/message/{{user['_id']['$oid']}}">
								<i class="mdi-content-mail">
								</i>
							</a>
							<a ng-if="!user.isFriend && currentUserDetail.profile.paymentStatus == 'active'" 
							ng-click="requestFriend(user['_id']['$oid'])">
							<i class="mdi-content-mail">
							</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row center-align" ng-show="load_more==true">
	<a class="waves-effect waves-light btn white-text" ng-click="advancedSearch(true)">
		Load More
	</a>
</div>
<div class="row center-align" ng-show="show==''">
	<a class="waves-effect waves-light btn white-text" ng-hide="open_save_search_form==true" ng-click="open_save_search_form=true">
		Save search
	</a>
</div>
<div class="row" ng-show="open_save_search_form==true">
	<div class="col s12 m8">
		<md-input-container>
		<label>Enter Search Name</label>
		<input ng-model="savesearch.search_name">
	</md-input-container>							
</div>
<div class="col s12 m4">
	<a href="#" class="waves-effect waves-light btn red white-text btn-style" ng-click="saveSearch()">SAVE</a>
</div>
</div>			
</div>
</div>
</div>