<div id="favouriteContainer" class="favouriteContainer view-profile">
  <div class="container">
    <div class="section" id="searchResults" ng-hide="show == 'advancedSearch'">
      <div class="row searchResultTitle">
        <span class="searchTitle">Viewed Me</span>
      </div>
      <div class="row">
        <div class="col s12 m4 l3" ng-repeat="user in viewed_me">
          <div class="card card-style">
            <div class="card-image waves-effect waves-block waves-light userimg">
              <a href="/profile/{{user['_id']['$oid']}}">
                <img ng-show="user.images[0].file.url" class="activator" ng-src="{{user.images[0].file.url}}">
                <img ng-hide="user.images[0].file.url" class="activator" ng-src="/assets/userProf/u1.jpg">
              </a>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4 user-Name ellipsis">
                {{user.profile.name}}
              </span>
              <div class="user-status">
                {{user.last_seen | timeAgo}}
              </div>
              <div class="card-action center-align user-icons">
                <a href="#" ng-click="makeFavourite(user)">
                  <i class="mdi-action-favorite"  ng-class="user.favourite? 'active':''"></i>
                </a>
                <a ng-if="user.isFriend" href="/message/compose/{{user['_id']['$oid']}}">
                  <i class="mdi-content-mail">
                  </i>
                </a>
                <a ng-if="!user.isFriend" ng-click="requestFriend(user['_id']['$oid'])">
                  <i class="mdi-content-mail">
                  </i>
                </a>
                <!-- <a href="#"><i class="mdi-communication-chat"></i></a>
                <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>