<div class="container">
  <div class="col s12 m4 l3">
    <div class="probtn right" ng-show="user_data.id == current_user_id">
      <button class="waves-effect waves-light btn probtns" ng-click="changeView()">
        {{(setPublic)?'Show Private view':'Show Public view'}}
      </button>
    </div>
    <div class="clear"></div>
  </div>
  <div class="col s12 m4 l3" ng-show="show_private">
    <div class="card card-style">
      <div class="card-image waves-effect waves-block waves-light userimg">
        <a href="/profile/{{user_data.id}}">
          <img ng-show="user_data.profileImage.file.url" class="activator" ng-src="{{user_data.profileImage.file.url}}">
          <img ng-hide="user_data.profileImage.file.url" class="activator" ng-src="/assets/userProf/u1.jpg">
        </a>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 user-Name ellipsis">
          {{user_profile.name}}
        </span>
        <div class="user-status">
          Last seen  {{user_data.last_seen | timeAgo}}
        </div>
        <div class="card-action center-align user-icons" ng-hide="user_data.id == current_user_id">
          <a href="#" ng-click="makeFavourite(user_data)">
            <i class="mdi-action-favorite"  ng-class="user_data.favourite? 'active':''"></i>
          </a>
          <a ng-if="user_data.isFriend" href="/message/{{user_data.id}}">
            <i class="mdi-content-mail">
            </i>
          </a>
          <a ng-if="!user_data.isFriend && currentUserDetail.profile.paymentStatus == 'active'" ng-click="requestFriend(user_data.id)">
            <i class="mdi-content-mail">
            </i>
          </a>
          <!-- <a href="#"><i class="mdi-communication-chat"></i></a>
          <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row view_profile" ng-hide="show_private">
    <div class="col s4 m4 l3">
      <div class="personal-details">
        <div class="online_status">
          Profile
        </div>
        <div class="card card-style">
          <div class="card-image waves-effect waves-block waves-light userimg">
            <img ng-show="user_data.profileImage.file.url" class="activator" ng-src="{{user_data.profileImage.file.url}}">
            <img ng-hide="user_data.profileImage.file.url" class="activator" ng-src="/assets/userProf/u1.jpg">
          </div>
          <div class="card-content" ng-hide="user_data.id == current_user_id">
            <div class="user-status">
              Last seen {{user_data.last_seen | timeAgo}}              
            </div>
            <div class="card-action center-align user-icons">
              <a href="#" ng-click="makeFavourite(user)">
                <i class="mdi-action-favorite"  ng-class="user.favourite? 'active':''"></i>
              </a>
              <a ng-if="user_data.isFriend" href="/message/{{user_data.id}}">
                <i class="mdi-content-mail">
                </i>
              </a>
              <a ng-if="!user_data.isFriend && currentUserDetail.profile.paymentStatus == 'active'" ng-click="requestFriend(user_data.id)">
                <i class="mdi-content-mail">
                </i>
              </a>
              <a href="#" ng-click="report_abuse()"><i class="mdi-content-flag"></i></a>
            </div>
          </div>
        </div>

        <ul class="profile_details">
          <li><label>Gender</label>{{user_profile.gender}}</li>
          <li><label>Looking For</label>{{user_profile.looking_for}}</li>
          <li><label>Birth Day</label>{{user_profile.birth_day}},{{user_profile.birth_month}}</li>
          <li><label>Age</label>{{user_profile.age}}</li>
          <li><label>Zodiac Sign</label>{{user_profile.zodiac}}</li>
          <li><label>Location</label>{{user_profile.location}}</li>
        </ul>
        <div ng-if="show_full_profile">
          <div class="my_picture">
            My Pictures
          </div>
          <ul class="my-photos magnificpopup">
            <li ng-repeat="image in user_images">
              <a ng-href="{{image.file.url}}" rel="gallery">
                <img ng-src="{{image.file.url}}" alt="" class="responsive-img">
              </a>
            </li>
          </ul>
        </div>
      </div><!--/personal_deatils-->
    </div>

    <div class="col s8 m8 l9">
      <div class="inbox-filters ">
        <p class="left">{{user_profile.name}}</p>
      <div class="clear"></div>
    </div><!--/inbox-filters-->  
    <div class="about_personal">
      <ul class="view_about_details">
        <li>
          <div class="col s12 pad-l about-details">
            <label class="blocks">About Myself:</label>{{user_profile.tag_line}}
          </div>
          <div class="clear"></div>
        </li>         
        <li>
          <div class="col s12 m6 l6 pad-l about-details">
            <label>Relationship Status:</label> {{user_profile.relationship_status}}
          </div>
          <div class="col s12 m6 l6 pad-r about-details">
            <label>Longest Relationship:</label> {{user_profile.long_relationship}}
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="col s12 m6 l6 pad-l about-details">
            <label>Income Level:</label> {{user_profile.income_type}}
          </div>
          <div class="col s12 m6 l6 pad-r about-details">
            <label>Profession:</label> {{user_profile.profession}}
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="col s12 m6 l6 pad-l about-details">
            <label>Height:</label> {{user_profile.height}}
          </div>
          <div class="col s12 m6 l6 pad-r about-details">
            <label>Body Type:</label> {{user_profile.body_type}}
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <div class="col s12 m6 l6 pad-l about-details">
            <label>Eye Color:</label> {{user_profile.eye_color}}
          </div>
          <div class="col s12 m6 l6 pad-r about-details">
            <label>Hair Color:</label> {{user_profile.hair_color}}
          </div>
          <div class="clear"></div>
        </li>   
        <li>
          <div class="col s12 m6 l6 pad-l about-details">
            <label>Ethnicity:</label> {{user_profile.ethnicity}}
          </div>
          <div class="col s12 m6 l6 pad-r about-details">
            <label>Religion:</label> {{user_profile.religion}}
          </div>
          <div class="clear"></div>
        </li> 
        <div ng-if="show_full_profile">    
          <li>
            <div class="col s12 pad-l about-details">
              <label>Education:</label> {{user_profile.education}}
            </div>
            <div class="clear"></div>
          </li>   
          <li>
            <div class="col s12 pad-l about-details">
              <label>Do you smoke?</label> {{user_profile.smoker}}
            </div>
            <div class="clear"></div>
          </li> 
          <li>
            <div class="col s12 pad-l about-details">
              <label>Will you go out with someone who smokes?</label> {{user_profile.go_with_smoker}}
            </div>
            <div class="clear"></div>
          </li>   
          <li>
            <div class="col s12 pad-l about-details">
              <label>Do you drink?</label> {{user_profile.drinker}}
            </div>
            <div class="clear"></div>
          </li>   
          <li>
            <div class="col s12 pad-l about-details">
              <label>Will you go out with someone who drinks?</label> {{user_profile.go_with_drinker}}
            </div>
            <div class="clear"></div>
          </li>   
          <li>
            <div class="col s12 pad-l about-details">
              <label>Do you take drugs?</label> {{user_profile.drug_adict}}
            </div>
            <div class="clear"></div>
          </li>   
          <li>
            <div class="col s12 pad-l about-details">
              <label>Will you go out with someone who does drugs?</label> {{user_profile.go_with_drug_addict}}
            </div>
            <div class="clear"></div>
          </li>   
          <li>
            <div class="col s12 pad-l about-details">
              <label>Do you have car?</label> {{user_profile.have_car}}
            </div>
            <div class="clear"></div>
          </li>                                                  
          <li>
            <div class="col s12 pad-l about-details">
              <label>Do you have children?</label> {{user_profile.have_children}}
            </div>
            <div class="clear"></div>
          </li> 
          <li>
            <div class="col s12 pad-l about-details">
              <label>Will you go out with someone who has children?</label> {{user_profile.go_with_have_children}}
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="col s12 pad-l about-details">
              <label>Do you want children?</label> {{user_profile.need_children}}
            </div>
            <div class="clear"></div>
          </li>     
          <li>
            <div class="col s12 pad-l about-details">
              <label>Do you have pets?</label> {{user_profile.have_pets}}
            </div>
            <div class="clear"></div>
          </li>   
          <li>
            <div class="col s12 pad-l about-details">
              <label>Will you go out with someone who has pets?</label> {{user_profile.go_with_has_pets}}
            </div>
            <div class="clear"></div>
          </li>  
          <li>
            <div class="col s12 pad-l about-details">
              <label class="blocks">I find my zen moment when I:</label> {{user_profile.zen_moment}}
            </div>
            <div class="clear"></div>
          </li>   
          <li>
            <div class="col s12 pad-l about-details">
              <label class="blocks">I get inspired when I:</label> {{user_profile.get_inspired}}
            </div>
            <div class="clear"></div>
          </li> 
          <li>
            <div class="col s12 pad-l about-details">
              <label class="blocks">I score good karma points when I:</label> {{user_profile.good_karma_points}}
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="col s12 pad-l about-details">
              <label class="blocks">I score bad karma points when I:</label> {{user_profile.bad_karma_points}}
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="col s12 pad-l about-details">
              <label class="blocks">You are my type if you:</label>{{user_profile.my_type_if}}
            </div>
            <div class="clear"></div>
          </li>
          <li>
            <div class="col s12 pad-l about-details">
              <label class="blocks">Other things about me that might interest you:</label>{{user_profile.others_interested_about}}
            </div>
            <div class="clear"></div>
          </li>  
        </div>              
      </ul>
    </div>     
  </div> 

</div><!--/view_profile-->

</div>


