<div class="container view-profile">
  <div class="row chat-item">
    <div class="col s4 m3 l3">
      <div class="chat-menu side-nav" id="slide-out">
        <div class="chat-menu1">
        <div class="chat-title text-center">Chat List</div>
        <ul class="chat-list tabs">      
          <li id="{{user.user_id}}" ng-click="setCurrentUser(user)" 
              ng-class="(currentChatUser == user)?'online':''" 
              class="tab " ng-repeat="user in userModel.friends">
            <span class="status">
              <i class="mdi-toggle-radio-button-on"></i>
            </span>
            {{user.name}} 
            <!-- {{user.last_seen}} -->
            <span class="">{{count[user.user_id]}}</span>
          </li>
        </ul>
        </div>
      </div><!--event-menu-->
      <a href="#" data-activates="slide-out" class="button-collapse side-menu">
        <i class="mdi-action-list"></i>
      </a>
    </div>
 
    <div class="col s12 m9 l9">
      <div id="chat">
        <ul class="chat-message-list">
          <li ng-repeat="data in datas[currentChatUser.user_id] track by $index">
            <div class="col s12 m12 l8">
              <div class="card-panel z-depth-1 card-panel-style chat-panel">
                <div class="row valign-wrapper">
                  <div class="col s3  m2 center-align chat-person">
                    <img src="/assets/no_image.png" alt=""> <!-- notice the "circle" class -->
                  </div>
                  <div class="col s9 m10">
                    <div class="card-panel-text chat-message">
                      <p>{{data}}</p>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </li>
        </ul>
        <div class="chat-form">
          <form>
            <div class="row">
              <div class="col s12 m12 l8">
                <md-input-container flex>
                  <label>Message</label>
                  <textarea ng-model="message" columns="1" md-maxlength="150"></textarea>
                </md-input-container>             
              </div>
            </div>
            <div class="input-field col s12 m12 l8">
              TO : {{currentChatUser.email}}
              <a ng-click="sendMessage()" class="btn waves-effect waves-light right chat-send" type="submit" name=""> Send </a>
            </div>        
          </form>
        </div>
      </div>
    </div>  
  </div><!--chat-item-->              
</div>