<div class="container view-profile">
  <div class="row event-item">
    <div class="col s3 m2 l2">
      <div class="event-menu">
        <div class="event-menu1">
        <ul class="text-center event-list side-nav" id="slide-out">
          <li class="tab col s3"><a ng-click="set_tab(1)"><img class="icon-img" src="/assets/all-event.png" alt=""><br>All events</a></li>
          <li class="tab col s3"><a ng-click="set_tab(2)"><img class="icon-img" src="/assets/part-event.png" alt=""><br>Participated </a></li>
            <li ng-if="paymentStatus == 'active'" class="tab col s3"><a ng-click="set_tab(3)"><img class="icon-img" src="/assets/my-event.png" alt=""><br>My events</a></li>
            <li ng-if="paymentStatus == 'active'" class="tab col s3"><a ng-click="set_tab(4)" ><img class="icon-img" src="/assets/new-event.png" alt=""><br>New event</a></li>
            <li ng-if="paymentStatus == 'active'" class="tab col s3"><a ng-click="set_tab(5)"><img class="icon-img" src="/assets/delete-event.png" alt=""><br>Deleted </a></li>
        </ul>
        </div>
      </div><!--event-menu-->
    </div>
<nav class="sub_nav"><a href="#" data-activates="slide-out" side-nav="right" class="button-collapse side-menu"><i class="mdi-hardware-keyboard-arrow-left"></i></a></nav>
    <div ng-hide="show_individual==true">
    <div ng-show="tab_id==3"> 
      <div class="col s12 m12 l10">
      <div id="my-events">
        <div class="inbox-filters">
          <a class="waves-effect waves-light btn delete left" ng-click="deleteEvents('my_events')"><i class="fa fa-trash"></i> Delete</a>
          <div class="search right">
            <label for="search">Search :</label>
            <input type="search" ng-model="my_events_search"  name="" value="">
          </div>
          <div class="clear"></div>
        </div>
        <table ng-table="my_events" id="my_events" class="hoverable dataTable" template-pagination="custom/pager">
          <tr class="tablehead">
            <th rowspan="1" colspan="1" class="fs fsname">Posted by</th>
            <th rowspan="1" colspan="1" class="md">Event Name</th>
            <th rowspan="1" colspan="1" class="md">Participants</th>
            <th rowspan="1" colspan="1">Date</th>
            <th rowspan="1" colspan="1">Time</th>
            <th rowspan="1" colspan="1" class="location">location</th>
            <th rowspan="1" colspan="1">Select All<input type="checkbox" ng-change="select_all('my_events')" ng-model="select_all_my_events" id="test5" />
            <label for="test5"></label></th>
          </tr>
          <tr class="event-data" ng-repeat="my_event_obj in $data">
            <td>
              <p>{{ my_event_obj.user.email}}</p>
            </td>
            <td ng-click="show_event_obj(my_event_obj.id)">{{ my_event_obj.event_name}}</td>
            <td>{{ my_event_obj.participants.join(',')}}</td>
            <td>{{ my_event_obj.event_date}}</td>
            <td>{{ my_event_obj.from_time}}</td>

            <td>{{ my_event_obj.city}}</td>
            <td class="selectbox"><input ng-model="my_events.data[$index].$selected" ng-checked="select_all_my_events" type="checkbox"  value="" /></td>
          </tr>
          <tr class="no-message" ng-show="$data.length==0">
              <td colspan="7" rowspan="5">No Events Found</td>
          </tr>
        </table>
      </div><!--/my-events-->
      </div> 
    </div>
    <div ng-show="tab_id==1">  
      <div class="col s12 m12 l10">
      <div id="all-event">
        <div class="inbox-filters">
          <div class="search right">
            <label for="search">Search :</label>
            <input type="search" ng-model="all_events_search" name="" value="">
          </div>
          <div class="clear"></div>
        </div>
        <table ng-table="all_events" 
               id="all_events" 
               class="hoverable dataTable" 
               template-pagination="custom/pager">
          <tr class="tablehead" >
            <th rowspan="1" colspan="1" class="fs fsname">Posted by</th>
            <th rowspan="1" colspan="1" class="md">Event Name</th>
            <th rowspan="1" colspan="1" class="md">Participants</th>
            <th rowspan="1" colspan="1">Date</th>
            <th rowspan="1" colspan="1">Time</th>
            <th rowspan="1" colspan="1" class="location">location</th>
          </tr>
          <tr class="event-data" ng-repeat="my_event_obj in $data">
           <td>
              <p>{{ my_event_obj.user.email}}</p>
            </td>
            <td ng-click="show_event_obj(my_event_obj.id)">{{ my_event_obj.event_name}}</td>
            <td>{{ my_event_obj.participants.join(',')}}</td>
            <td>{{ my_event_obj.event_date}}</td>
            <td>{{ my_event_obj.from_time}}</td>
            <td>{{ my_event_obj.city}}</td>
          </tr>
          <tr class="no-message" ng-show="$data.length==0">
              <td colspan="7" rowspan="5">No Events Found</td>
          </tr>
        </table>
      </div><!--/all-event-->
      </div>  
    </div>
    <div ng-show="tab_id==2">
      <div class="col s12 m12 l10">
      <div id="Participated">
        <div class="inbox-filters">
          <a class="waves-effect waves-light btn delete left" ng-click="unparticipate()"> Unparticipate</a>
          <div class="search right">
            <label for="search">Search :</label>
            <input type="search" ng-model="participated_events_search"   name="" value="">
          </div>
          <div class="clear"></div>
        </div>
        <table ng-table="participated_events" id="participated_events" class="hoverable dataTable" template-pagination="custom/pager">
          <tr class="tablehead">
            <th rowspan="1" colspan="1" class="fs fsname">Posted by</th>
            <th rowspan="1" colspan="1" class="md">Event Name</th>
            <th rowspan="1" colspan="1" class="md">Participants</th>
            <th rowspan="1" colspan="1">Date</th>
            <th rowspan="1" colspan="1">Time</th>
            <th rowspan="1" colspan="1" class="location">location</th>
            <th rowspan="1" colspan="1">Unparticipate</th>
          </tr>
          <tr class="event-data" ng-repeat="my_event_obj in $data">
            <td>
              <p>{{ my_event_obj.user.email}}</p>
            </td>
            <td ng-click="show_event_obj(my_event_obj.id)">{{ my_event_obj.event_name}}</td>
            <td>{{ my_event_obj.participants.join(',')}}</td>
            <td>{{ my_event_obj.event_date}}</td>
            <td>{{ my_event_obj.from_time}}</td>
            <td>{{ my_event_obj.city}}</td>
            <td class="selectbox"><input ng-model="participated_events.data[$index].$selected" ng-checked="select_all_my_events" type="checkbox"  value="" /></td>
          </tr>
          <tr class="no-message" ng-show="$data.length==0">
              <td colspan="7" rowspan="5">No Events Found</td>
          </tr>   
        </table>
      </div><!--/my-events-->
      </div> 
    </div>
    <div ng-show="tab_id==4">
      <div class="col s12 m10 l8">
      <div id="new-event" class="col s12 ">
        <form name="newevent">
          <div class="row"> 
            <div class="col s12">
              <md-input-container>
                <label>Event Name</label>
                <input ng-model="event_obj.event_name" name="eventname" required>
                <div ng-messages="newevent.eventname.$error">
                  <div ng-message="required">Required.</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m3 l3">
              <md-input-container>
                <label>Address</label>
                <input ng-model="event_obj.address" name="address" required>
                <div ng-messages="newevent.address.$error">
                  <div ng-message="required">Required.</div>
                </div>
              </md-input-container>            
            </div>
            <div class="col s12 m3 l3">
              <md-input-container>
                <label>City</label>
                <input ng-model="event_obj.city" name="city" required>
                <div ng-messages="newevent.city.$error">
                  <div ng-message="required">Required.</div>
                </div>
              </md-input-container>            
            </div>  
            <div class="col s12 m3 l3">
              <md-input-container>
                <label>state</label>
                <input ng-model="event_obj.state" name="state" required>
                <div ng-messages="newevent.state.$error">
                  <div ng-message="required">Required.</div>
                </div>
              </md-input-container> 
            </div> 
            <div class="col s12 m3 l3">
              <md-input-container>
                <label>Zip Code</label>
                <input ng-model="event_obj.zip_code" name="zip" required>
                <div ng-messages="newevent.zip.$error">
                  <div ng-message="required">Required.</div>
                </div>
              </md-input-container>                  
            </div>                             
          </div>     
          <div class="row">
            <div class=" col s12 m4 l4">
              <div class="col s12 fields">
                <md-input-container>
                  <label>Date</label>
                  <input type="date" ng-model="event_obj.event_date" name="date" required>
                  <div ng-messages="newevent.date.$error">
                    <div ng-message="required">Required.</div>
                  </div>
                </md-input-container>              
              </div>
            </div>
            <div class=" col s12 m4 l4">
              
              <div class="col s12 fields pad-top">
                <md-input-container>
                  <label>Time From</label>
                  <input type="time" ng-model="event_obj.time_from" name="timefrom" required>
                  <div ng-messages="newevent.timefrom.$error">
                    <div ng-message="required">Required.</div>
                  </div>
                </md-input-container>               
              </div>
              
            </div>
            <div class=" col s12 m4 l4">          
              <div class="col s12 fields pad-top">
                <md-input-container>
                  <label>To</label>
                  <input type="time" ng-model="event_obj.time_to" name="To" required>
                  <div ng-messages="newevent.To.$error">
                    <div ng-message="required">Required.</div>
                  </div>
                </md-input-container> 
              </div> 
            </div>         
          </div>         
          <div class="col s12 fields">
            <md-input-container flex>
              <label>Message</label>
              <textarea ng-model="event_obj.message" columns="1" md-maxlength="150"></textarea>
            </md-input-container>          
          </div>
          <div class="input-field col s12 fields right-align">
            <button class="btn waves-effect waves-light"  ng-click="createEvent()" name="action">Create Event
            </button>
            <img src="/assets/loading.gif" title="Send" class="hide loading">
          </div>
        </form>
      </div><!--/new-event-->               
      </div>
    </div>
    <div ng-show="tab_id==5"> 
      <div class="col s12 m12 l10">
      <div id="delete">
        <div class="inbox-filters">
          <a class="waves-effect waves-light btn delete left" ng-click="deleteEvents('deleted_events')"><i class="fa fa-trash"></i> Delete Permenantly</a>
          <div class="search right">
            <label for="search">Search :</label>
            <input type="search" ng-model="deleted_events_search">
          </div>
          <div class="clear"></div>
        </div>
        <table ng-table="deleted_events" id="deleted_events" class="hoverable dataTable" template-pagination="custom/pager">
          <tr class="tablehead">
            <th rowspan="1" colspan="1" class="fs fsname">Posted by</th>
            <th rowspan="1" colspan="1" class="md">Event Name</th>
            <th rowspan="1" colspan="1" class="md">Participants</th>
            <th rowspan="1" colspan="1">Date</th>
            <th rowspan="1" colspan="1">Time</th>
            <th rowspan="1" colspan="1" class="location">location</th>
            <th rowspan="1" colspan="1">Select All<input type="checkbox" ng-change="select_all('deleted_events')" ng-model="select_all_deleted_events" id="test9" />
            <label for="test9"></label></th>
          </tr>
          <tr class="event-data" ng-repeat="my_event_obj in $data">
            <td>
              <p>{{ my_event_obj.user.email}}</p>
            </td>
            <td ng-click="show_event_obj(my_event_obj.id)">{{ my_event_obj.event_name}}</td>
            <td>{{ my_event_obj.participants.join(',')}}</td>
            <td>{{ my_event_obj.event_date | timeAgo}}</td>
            <td>{{ my_event_obj.from_time}}</td>
            <td>{{ my_event_obj.city}}</td>
            <td class="selectbox"><input type="checkbox" ng-model="deleted_events.data[$index].$selected" ng-checked="select_all_deleted_events" name="" value="" /></td>
          </tr>
          <tr class="no-message" ng-show="$data.length==0">
              <td colspan="7" rowspan="5">No Events Found</td>
          </tr>   
        </table>
      </div><!--/my-events-->
      </div>
    </div>
    </div>     
    <div class="col s12 m12 l10" ng-show="show_individual==true">
      <div class="inbox-filters">
        <a class="waves-effect waves-light btn delete left"  ng-click="back_to_table()"><i class="fa fa-arrow-left"></i> Back</a>
        <a class="waves-effect waves-light btn delete left" ng-show="show_event.my_event==true" ng-click="delete_event()"><i class="fa fa-trash"></i> Delete</a>

        <div class="clear"></div>
      </div>
      <div class="event-details">
        <div class="col s2 m2 l2 pad-zero event-photo">
          <div class="personphoto"><a href=""><img class="responsive-img" src="/assets/no_image.png" alt=""></a></div>
          <div class="center-align personname">Posted by: <br><span>{{show_event.creator.email}}</span></div>
        </div>
        <div class="col s10 m10 l10 event-detail">
          <h4>{{show_event.event_name}}</h4>
          <div class="col s4 m4 l4 pad-zero locations">
            <h6><span><img src="/assets/icon-location.png" alt=""></span>Location</h6>
            <p>{{show_event.city}}</p>
            <p>{{show_event.address}}</p>
            <p>{{show_event.zip_code}}</p>
          </div>
          <div class="col s4 m4 l4 date">
            <h6><span><img src="/assets/icon-date.png" alt=""></span>Date & Time</h6>
            <p>{{show_event.event_date}} - {{show_event.time_from}}</p>
          </div> 
          <div class="col s4 m4 l4 pad-zero part">
            <h6><span><img src="/assets/add-participants.png" alt=""></span>Participants</h6>
            <p>{{ show_event.participants.length}} members</p>
          </div>   
          <div class="clear"></div>
          <div class="event-buttons right-align">
            <a class="waves-effect waves-light btn delete" ng-show="show_event.my_event==true" ng-click="open_participants($event)">Click here to see participants</a> 
            <a class="waves-effect waves-light btn delete participate" ng-show="show_event.my_event==false && show_event.participated==false" ng-click="participate_event(show_event.id)">Participate</a>  
            <a class="waves-effect waves-light btn delete participate" ng-show="show_event.participated==true">You are going to this event</a>
          </div>            
        </div>
        <div class="clear"></div>
        <div class="event-desc">
          <h6>Event Details :</h6>
          <p>{{show_event.message}}</p>
        </div>
      </div>
    </div>            
  </div><!--/event-item-->

</div>
<script type="text/ng-template" id="custom/pager">
  <div class="pagination center-align">
    <ul class="pager ng-cloak">
    <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
      <a href="#" ng-switch-when="prev" ng-click="params.page(page.number)" class="btn"><i class="fa fa-arrow-left"></i> Previous</a>
      <a href="#" ng-switch-when="next" ng-click="params.page(page.number)" class="btn ls">Next <i class="fa fa-arrow-right"></i></a>
    </li>
    </ul>
  </div>   
</script>
<script type="text/javascript">
    // $(document).ready(function(){
    // //$('ul.tabs').tabs();
    // $('select').material_select();
    //   $('ul.event-list li').on('click',function(e){
    //   //e.preventDefault();
    //   $('.event-title').text($(this).text());
    //   })
    //   $('.event-title').text($('ul.event-list li:first').text());
    //   $('.datepicker').pickadate();
      

    //    $(".button-collapse").sideNav();

    //   var s= $('.event-menu');
    //    $('.button-collapse').click(function(){
    //       s.animate({left:'0'});
    //     });
    //   //   $('body').click(function(){
    //   //     if(s.css('left') == "0px"){
    //   //       s.animate({left:'-250'});
    //   //     }
    //   // });

    // });
</script>

