<div class="container view-profile" >
	<div class="row message-item">
		<div class="col s3 m2 l2">
			<div class="message-menu side-nav" id="slide-out">
				<div class="message-menu1">
				<div class="message-title text-center">{{tab_title}}</div>
				<ul class="text-center message-list tabs">
					<li class="tab col s3">
						<a ng-click="set_tab(1)"><img class="icon-img" src="/assets/compose_msg.png" alt=""><br>Compose</a></li>
					<li ng-click="set_tab(2)" class="tab col s3">
						<a  ng-class="{active: is_tabs_selected(2)}"><img class="icon-img" src="/assets/inbox_msg.png" alt=""><br>Inbox</a></li>
					<li ng-click="set_tab(3)"class="tab col s3">
						<a  ng-class="{active: is_tabs_selected(3)}"><img class="icon-img" src="/assets/sent_msg.png" alt=""><br>Sent</a></li>
					<li ng-click="set_tab(4)" class="tab col s3">
						<a  ng-class="{active: is_tabs_selected(4)}"><img class="icon-img" src="/assets/delete_msg.png" alt=""><br>Delete</a></li>
				</ul>
				</div>
			</div><!--message-menu-->
			<a href="#" data-activates="slide-out" class="button-collapse side-menu"><i class="mdi-action-list"></i></a>
		</div>
	<div ng-hide="show_individual==true">
		<div ng-show="tab_id==1">
			<div class="col s12 m12 l10">
			<div id="compose" class="col s12">
				<form name="message">
					<label class="to">To</label>
					<div class="col s12 pad-zero">
<!-- 						<md-autocomplete md-search-text="user_email" md-items="user in querySearch(user_model.friends" md-item-text="user.email" md-selected-item="newMessage.receiver_id"><span md-highlight-text="ctrl.searchText">{{user.email}}</span>
    				</md-autocomplete> -->
						<select ng-model="newMessage.receiver_id" placeholder="choose User">
							<option ng-repeat="user in user_model.friends"  ng-selected="selected_receiver==user.user_id" ng-value="user.user_id">{{user.email}}</md-option>
						</select>
					</div>  
					<md-input-container>
						<label>Subject</label>
						<input ng-model="newMessage.subject" name="subject" required>
						<div ng-messages="message.subject.$error">
                    		<div ng-message="required">This is required.</div>
                  		</div>
					</md-input-container>
					<md-input-container flex>
						<label>Message</label>
						<textarea ng-model="newMessage.message" columns="1" md-maxlength="150"></textarea>
					</md-input-container>
					<div class="input-field col s12">
						<button ng-click="sendMessage()" class="btn waves-effect waves-light" type="submit" name="action">
							Send
						</button>
						<img src="/assets/loading.gif" title="Send" class="hide loading">
					</div>
				</form>
			</div><!--/compose-->               
			</div>
		</div>
		<div ng-show="tab_id==2">
			<div class="col s12 m12 l10">
			<div id="inbox">
				<div class="inbox-filters">
					<a class="waves-effect waves-light btn delete left" ng-click="deleteMessages('inbox_table')"><i class="fa fa-trash"></i> Delete</a>
					<div class="search right">
						<label for="search">Search :</label>
						<input type="search" ng-model="inbox_search" name="" value="">
					</div>
					<div class="clear"></div>
				</div>
					<table ng-table="inbox_table" id="inbox_table" class="hoverable dataTable" template-pagination="custom/pager">
						<tr class="tablehead">
							<th rowspan="1" colspan="1"><input type="checkbox" ng-model="select_all_inbox" ng-click="select_all('inbox_table')" id="test5" />
							<label for="test5"></label></th>
							<th rowspan="1" colspan="1" class="fs">From</th>
							<th rowspan="1" colspan="1" class="md">Subject</th>
							<th rowspan="1" colspan="1">Date & Time</th>
						</tr>
						<tr ng-repeat="message in $data">
							<td class="selectbox"><input  type="checkbox"  ng-model="inbox_table.data[$index].$selected"  ng-checked="select_all_inbox" /></td>
							<td ng-click="show_message(message.id)">{{message.sender.email}}</td>
							<td>{{message.subject}}</td>
							<td>{{message.date | timeAgo}}</td>
						</tr>
						<tr class="no-message" ng-show="$data.length==0">
							<td colspan="4" rowspan="5">No messages found</td>
						</tr>
					</table>
			</div><!--/inbox-->
			</div>
		</div>
		<div ng-show="tab_id==3">
			<div class="col s12 m12 l10">
			<div id="sent">
				<div class="inbox-filters">
					<a class="waves-effect waves-light btn delete left" ng-click="deleteMessages('sent_table')"><i class="fa fa-trash"></i> Delete</a>
					<div class="search right">
						<label for="search">Search :</label>
						<input type="search" name="" ng-checked=""ng-model="sent_search" value="">
					</div>
					<div class="clear"></div>
				</div>
				<div loading-container="sent_table.settings().$loading">
					<table class="hoverable dataTable" ng-table="sent_table"  template-pagination="custom/pager">
						<tr class="tablehead" >
							<th rowspan="1" colspan="1"><input type="checkbox" ng-click="select_all('sent_table')"   ng-model="sent_checked" id="test11" />
							<label for="test11"></label></th>
							<th rowspan="1" colspan="1" class="fs">From</th>
								<th rowspan="1" colspan="1" class="md">Subject</th>
								<th rowspan="1" colspan="1">Date & Time</th>
						</tr>
							<tr ng-repeat="message in $data">
							<td class="selectbox"><input type="checkbox" ng-model="sent_table.data[$index].$selected" ng-checked="sent_checked"/></td>
							<td ng-click="show_message(message.id)">{{message.sender.email}}</td>
							<td>{{message.subject}}</td>
							<td>{{message.date | timeAgo}}</td>
						</tr>
							<tr class="no-message" ng-show="$data.length==0">
								<td colspan="5" rowspan="5">No messages found</td>
							</tr>
					</table>
				</div>
			</div><!--/sent-->
			</div>
		</div>
		<div ng-show="tab_id==4">
			<div class="col s12 m12 l10">
			<div id="delete">
				<div class="inbox-filters">
					<a class="waves-effect waves-light btn delete left" ng-click="deleteMessages('deleted_table')"><i class="fa fa-trash"></i> Delete</a>
					<a class="waves-effect waves-light btn delete left restore" ng-click="restoreMessages()" ><i class="fa fa-share"></i> Restore</a>
					<div class="search right left1">
						<label for="search">Search :</label>
						<input type="search" name="" value="">
					</div>
					<div class="clear"></div>
				</div>
				<table class="hoverable dataTable" ng-table="deleted_table"  template-pagination="custom/pager">
					<tr class="tablehead">
						<th rowspan="1" colspan="1">Select<input type="checkbox" ng-click="select_all('deleted_table')"  ng-model="delete_checked" id="test10" />
						<label for="test10"></label></th>
						<th rowspan="1" colspan="1" class="fs">From</th>
						<th rowspan="1" colspan="1" class="md">Subject</th>
						<th rowspan="1" colspan="1">Date & Time</th>
					</tr>
					<tr ng-repeat="message in $data">
						<td class="selectbox"><input type="checkbox"  ng-model="deleted_table.data[$index].$selected" ng-checked="delete_checked" value="" /></td>
						<td ng-click="show_message(message.id)">{{message.sender.email}}</td>
						<td>{{message.subject}}</td>
						<td>{{message.date | timeAgo}}</td>
					</tr>
					<tr class="no-message" ng-show="$data.length==0">
							<td colspan="5" rowspan="5">No messages found</td>
					</tr>
				</table>
			</div><!--/delete-->
			</div>
		</div>
	</div>
	<div ng-show="show_individual==true">
		<div class="col s12 m10 l8">
			<div class="message-details">
				<div class="main_thread">
					<div class="mail-header" ng-init="open_body=true" ng-click="open_body=!open_body">
						<div class="col s8 m8 l8">
							<div class="col s2 m1 l1 pad-zero">
								<a href=""><img src="/assets/no_image.png" class="responsive-img" alt=""></a>
							</div>
							<div class="col s10 m11 l11 name-email">
								<div>{{ message_obj.sender.email}}</div>
							</div>
						</div>
						<div class="col s4 m4 l4 date-time">{{message_obj.date | timeAgo}}</div>
						<div class="clear"></div>
					</div>
					<div class="maildetails" ng-show="open_body==true">
						<p>  {{message_obj.message}}</p>
					</div>
				</div>
				<div class="message-reply">
					<div class="mail-reply" ng-repeat="reply in message_obj.replies">
						<div class="main_thread">
							<div class="mail-header"  ng-click="open_accordion(reply.id)" >
								<div class="col s8 m8 l8">
									<div class="col s2 m1 l1 pad-zero">
										<a href=""><img src="/assets/no_image.png" class="responsive-img" alt=""></a>
									</div>
									<div class="col s10 m11 l11 name-email">
										<div>{{reply.creator.email}}</div>
									</div>
								</div>
								<div class="col s4 m4 l4 date-time">{{reply.created_at | timeAgo}}</div>
								<div class="clear"></div>
							</div>
							<div class="maildetails" ng-show="reply_current_accordion==reply.id">
								<p>{{reply.reply_message}}</p>
							</div>
						</div>
					</div>
					<div class="mail-reply">
						<textarea ng-model="reply_message"cols="60" rows="10"></textarea>
						<div class="right-align">
							<button class="btn waves-effect waves-light reply" ng-click="do_reply(message_obj.id)"><i class="fa fa-reply"></i> Reply</button>
						</div>
					</div>
				</div>				
			</div><!--/message-details-->
		</div>		     
	</div>
		</div>
     
	</div><!--/message-item-->
</div>
<script type="text/ng-template" id="custom/pager">
	<div class="pagination center-align">
		<ul class="pager ng-cloak">
		<li ng-repeat="page in pages"
								ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
								ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
			<a href="#" ng-switch-when="prev" ng-click="params.page(page.number)" class="btn"><i class="fa fa-arrow-left"></i> Previous</a>
			<a href="#" ng-switch-when="next" ng-click="params.page(page.number)" class="btn ls">Next <i class="fa fa-arrow-right"></i></a>
		</li>
		</ul>
	</div>   
</script>
<script type="text/javascript">
		$(document).ready(function(){
		//$('ul.tabs').tabs();
		//$('select').material_select();
			$('ul.message-list li').on('click',function(e){
			//e.preventDefault();
			$('.message-title').text($(this).text());
			})
			$('.message-title').text($('ul.message-list li:first').text());

			$(".button-collapse").sideNav();
			var s= $('.message-menu');
		 $('.button-collapse').click(function(){
				s.animate({left:'0'});
			});
			// $('body').click(function(){
			//   if(s.css('left') == "0px"){
			//     s.animate({left:'-250'});
			//   }
			// });
		});
</script>
<style type="text/css">

.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}
select{
display:block !important;}</style>
