<div class="container view-profile">
	<div class="row message-item">
		<div class="col s3 m2 l2">
			<div class="message-menu side-nav" id="slide-out">
				<div class="message-menu1">
				<div class="message-title text-center">All Messages</div>
				<ul class="text-center message-list tabs">
					<li class="tab col s3">
						<a href="#compose" class="active"><img class="icon-img" src="/assets/compose_msg.png" alt=""><br>Compose</a></li>
					<li class="tab col s3">
						<a href="#inbox"><img class="icon-img" src="/assets/inbox_msg.png" alt=""><br>Inbox</a></li>
					<li class="tab col s3">
						<a href="#sent"><img class="icon-img" src="/assets/sent_msg.png" alt=""><br>Sent</a></li>
					<li class="tab col s3">
						<a href="#delete"><img class="icon-img" src="/assets/delete_msg.png" alt=""><br>Delete</a></li>
				</ul>
				</div>
			</div><!--message-menu-->
			<a href="#" data-activates="slide-out" class="button-collapse side-menu"><i class="mdi-action-list"></i></a>
		</div>

		<div class="col s12 m12 l10">
		</div>
	</div>
</div>