<div class="container messageContainer view-profile" layout="column">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-content class="md-padding">
        <md-button ng-click="leftClose()" class="md-primary" hide-gt-md>
          Close
        </md-button>
        <p class="friends">Friends</p>
        <p ng-hide="userModel.friends.length > 0">- No Friends -</p>
        <md-content class="contentHeight">
          <div id="{{user.user_id}}" ng-click="setCurrentUser(user)" 
              ng-class="(currentChatUser.user_id == user.user_id)?'selected':''" 
              class="tab userList " ng-repeat="user in userModel.friends">
            
              {{user.name}} 
              <span ng-if="count[user.user_id] > 0">
                ({{count[user.user_id]}})
              </span>
            
              <span>({{user.last_seen | timeAgo}})</span>
            <hr>
          </div>
        </md-content>
        <p class="friends">Chat Request</p>
        <p ng-hide="userModel.invitations.length > 0">- No new Request -</p>
        <md-content class="contentHeight">
          <div ng-repeat="user in userModel.invitations">
            <a id="{{user.user_id}}"
                href="/profile/{{user.user_id}}"
                class="tab userList " >

                {{user.name}} 
                <span ng-if="count[user.user_id] > 0">
                  ({{count[user.user_id]}})
                </span>
                <span>({{user.last_seen | timeAgo}})</span>
            </a>
            <a class="btn" ng-click="acceptFriend(user)">say 'HI'</a>
            <a class="btn" ng-click="acceptFriend(user)">Ignore</a>
            <hr>
          </div>
        </md-content>
      </md-content>
    </md-sidenav>

    <md-content flex class="md-padding">
      <div layout="column" layout-fill>
        <md-button ng-click="toggleLeft()"
            class="md-primary"  hide-gt-md>
          Show Contacts
        </md-button>
        <div id="chat">
          <div ng-show="currentChatUser!=undefined">
          <ul class="chat-message-list" >
            <li ng-repeat="data in messages[currentChatUser.user_id] track by $index">
              <div class="col s12 m12 l8">
                <div class="card-panel z-depth-1 card-panel-style chat-panel"
                     ng-class="(data[2]['$oid'] == currentChatUser.user_id)? 'left':'right'">
                  <div class="row valign-wrapper">
                    <div class="col s9 m10 chats">
                      <div class="card-panel-text chat-message">
                        <p ng-class="">
                          {{data[1]}}
                          <span>
                            {{data[0] | timeAgo}}
                          </span>
                        </p>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </li>
          </ul>
         
          <div class="chat-form">
            <form>
              <div class="row chatArea">
                <div class="col s12 m12 l6 left">
                  <md-input-container flex>
                    <label>Message</label>
                    <textarea ng-keyup="($event.keyCode == 13 && onEnter == true)? sendMessage():''" 
                              ng-model="message"  
                              columns="1" 
                              md-maxlength="150">
                    </textarea>
                  </md-input-container>             
                </div>
                <div class="col s12 m12 l6 right chat-btn">
                  <a ng-hide="onEnter" 
                     ng-click="sendMessage()" 
                     class="btn waves-effect waves-light left chat-send"> Send </a>
                  <md-checkbox ng-model="onEnter" class="left" aria-label="Checkbox 1">
                    Send on enter
                  </md-checkbox>   
                </div>   
                <div class="clear"></div>
                <div class="validatesMsg" 
                     ng-hide="currentUserDetail.profile.paymentStatus == 'active'">
                     *You can only write 3 replies/user , as a free member.
                     <br>
                     <a href="/myprofile/subscripeSection" class="upgradeBtn">
                      Upgrade Now
                    </a> For unlimited access.
                </div>
              </div>
                     
            </form>
          </div>
        </div>
         <div ng-hide="currentChatUser!=undefined">
            <p> Please select your friends to begin chat with him/her</p>
          </div>
        </div>
      </div>
    </md-content>
  </section>
</div>