<%= form_for(@promocode) do |f| %>
  <% if @promocode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promocode.errors.count, "error") %> prohibited this promocode from being saved:</h2>

      <ul>
      <% @promocode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :validity %><br>
    <%= f.number_field :validity %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
