<h1>Listing promocodes</h1>

<table>
  <thead>
    <tr>
      <th>Validity</th>
      <th>Active</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promocodes.each do |promocode| %>
      <tr>
        <td><%= promocode.validity %></td>
        <td><%= promocode.active %></td>
        <td><%= promocode.code %></td>
        <td><%= link_to 'Show', promocode %></td>
        <td><%= link_to 'Edit', edit_promocode_path(promocode) %></td>
        <td><%= link_to 'Destroy', promocode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promocode', new_promocode_path %>
