<p id="notice"><%= notice %></p>

<p>
  <strong>Validity:</strong>
  <%= @promocode.validity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @promocode.active %>
</p>

<p>
  <strong>Code:</strong>
  <%= @promocode.code %>
</p>

<%= link_to 'Edit', edit_promocode_path(@promocode) %> |
<%= link_to 'Back', promocodes_path %>
