/*used class names*/

.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.hide{
	display: none;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.pad-zero{
	padding: 0 !important;
}
.margin-zero{
	margin: 0 !important;
}
.bg-none{
	background-color: transparent;
}
.border-zero{
	border: 0;
}
.card a{
	text-transform: capitalize;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.z-zero{
	z-index: 0!important;
}
/*Container width*/

@media only screen and (min-width: 1200px){
	.container{
		width: 1170px !important;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.container{
		width: 970px !important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.container{
		width: 750px !important;
	}
}
@media only screen and (max-width: 600px){
	.container{
		width: auto !important;
	}
}

/*******/

@media only screen and (min-width: 992px){
	.hidden-l{
		display: none !important;
	}
	.visible-l{
		display: block;
	}
}
@media only screen and (min-width: 601px) and (max-width: 991px){
	.hidden-m{
		display: none !important;
	}
	.visible-m{
		display: block;
	}
}
@media only screen and (max-width: 600px){
	.hidden-s{
		display: none !important;
	}
	.visible-s{
		display: block;
	}
}