.error {
	font-size: 12px;
	color: red;
}
.nav-style{
	box-shadow: none;
}
.header{
	background: #CC0810;
	color: #fff;
	border-top: 5px solid #fff;
}
.logo{
	top: -5px;
	z-index: 99;
}
.header .menu-items{
	height: 59px;
}
.header ul li a i{
	font-size: 18px;
	margin-right: 9px;
}
.header ul li:hover{
	background: transparent;
}
.afterLogin {
	margin-bottom: 50px;
}
.activeUser {
	font-size: 25px;
  	margin-left: 20px;
}

.upgradeBtn {
	border: 1px solid #aaa;
  display: inline-block;
  padding: 3px;
  font-size: 14px;
}

.browser-default, .browser-default:active, .browser-default:focus {
	border-radius: 0;
  -webkit-appearance: none;
  background: #fff url("../assets/br_down.png") no-repeat right 30px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin-top: 5px;
  padding-top: 18px;
  outline: none;
  padding-left: 0;
  margin-bottom: 25px;
}
#profileEditList .row {
	margin-bottom: 0px!important;
}
.view-profile {
	min-height: 95vh;
}
tags-input {
	padding: 20px 0 0!important;
}
.browser-options {
	position: relative;
}
.pad-right {
	padding-right: 0!important;
}
.birth { 
	padding-top: 16px!important;
}
.fieldlabels, .fieldlabel {
	position: absolute!important;
	top: 7px;
	font-size: 10px!important;
}
.fieldlabels {
	top: 22px !important;
}
.ageBox1 {
	padding-top: 22px!important;
}
.friends {
	font-size: 16px;
	font-weight: 600;
}
#pwdSection .row {
	margin: 0;
}
#pwdSection md-input-container {
	padding-bottom: 15px;
}
.Pwchange {
	padding: 20px;
	background: #fff;
}
/*nn*/
.login,.register,.forgetpassword {
	width: 500px;
	margin: 80px auto;
}
.login h3,.register h3 { 
	margin: 0;
	font-size: 21px;
}
.Register-Mandatory-Title{
	color: #f00;
	margin-top: -10px;
	font-size: 13px;
}
.loginForm, .registerForm,.forgetForm{
	width: 500px;
	border: 1px solid #ddd;
	margin: 10px auto 80px;
	padding: 10px 15px;
	background: rgba(255,255,255,0.83);
}

.btn-login{
	margin-top: 10px;
}
/*Banner*/
#banner{
	clear: both;
}
#slides{
	position: relative;
}
.slidesjs-pagination{
	display: none;
}
.slide-prev-icon, .slide-next-icon{
	position: absolute;
	top: 35%;
	font-size: 3em;
	width: 60px;
	height: 60px;
	text-align: center;
	z-index: 999;
	border: 2px solid #D3D3D3;
	background: rgba(0, 0, 0, 0.58);
	border-radius: 50%;
	line-height: 55px;
	color: #fff;
}
.slide-prev-icon{
	left: 30px;
}
.slide-next-icon{
	right: 30px;
}
#getStarted{
	background: #222;
	color: #fff;
	text-align: center;
}
#getStarted p{
	display: inline-block;
	line-height: 25px;
	font-size: 18px;
	letter-spacing: 0.5px;
}
#getStarted .btn-start{
	margin: 20px;
	vertical-align: middle;
	background: #CC0810;
}

/*UserSpec*/
#userSpec{
	padding: 30px 0 0;
}
#userSpec .card{
	/*padding: 3px 15px 0;*/
}
#userSpec .card-image img{
	width: 200px;
	height: 200px;
}
#userSpec .card-content h5{
	font-size: 1.5rem;
	color: #CC0810;
}

/*Logged Page  Header 2*/
.nav-tabHeader{
	background-color: #323232;
}
#tabsHeader ul li{
	display: inline-block;
	padding: 0 5px;
}
.btn-tabHeader{
	top: -65px;
}
.left-auto{
	left: auto !important;
}
#userList{
	margin-top: 20px;
}
.btn-section{
	padding-bottom: 0;
}
.btn-section .btn{
	margin-top: 10px;
	margin-bottom: 0;
}
.card-style{
	width: 230px;
	margin: 15px auto !important;
}
.card-style .card-content{
	padding: 0 20px !important;
}
.card-style .card-action{
	padding: 5px 0 0px !important;
	text-align: center;
}
.card-style .user-Name{
	width: 100%;
	display: inline-block;
	font-size: 16px !important;
	line-height: 30px !important;
	text-transform: capitalize;
}
.log-user-name{
	padding-left: 50px;
	padding-right: 0;
}
.log-user-name span{
	display: inline-block;
	width: 100px;
	vertical-align: top;
	padding-left: 7px;
}
.btn-logOut{
	line-height: 0;
	padding: 0;
}
.offline.status-label i:after{
	content: 'Offline';
}
.online i{
	color: #33cc00;
}
.online.status-label i:after{
	content: 'Online';
}
.online.status-label i:after, .offline.status-label i:after{
	color: #767272;
	padding-left: 5px;
	font-size: 12px;
	vertical-align: top;
	padding-top: 1.4px;
	display: inline-block;
}
.user-icons a{
	font-size: 21px;
	margin: 0 7px !important;
}
.user-icons i{
	color: #565656;
}
.user-icons i:hover, .user-icons .active{
	color: #CC0810;
}

/*Profile*/
#profileEditList{
	margin: 10px 0 30px;
}
#profileEditList .editTab li{
	display: inline-block;
	padding-right: 5px;
}
#profileEditList .editTab li a{
	font-size: 13px;
	padding: 0 28px;
}
#profileEditList .editTabBtn{
	display: none;
}

#adsearch .ellipsis{
	overflow: inherit!important;
	text-overflow: none!important; 
}



.probtns {
	padding: 8px 10px!important;
	height: auto!important;
	line-height: normal!important;
	font-size: 12px;
}
.cbody-style{
	padding: 10px 30px;
	background-color: #fff;
}
.ip-style{
	margin-top: 20px;
}
.cp-style{
	padding: 10px 20px;
	margin-bottom: 0;
}
.radioLabel{
	width: 250px;
	display: inline-block;
}
#More .card-panel {
	padding: 15px 10px !important;
}
#More .ellipsis {
	overflow: visible!important;
	text-overflow: none!important; 
	white-space: nowrap;
}
.radioBtns span:first-child{
	/*margin-right: 10px !important;*/
	display: inline-block;
}
.radioBtns span label{
	padding-left: 30px !important;
}
#picturesSection ul li{
	display: inline-block;
	padding: 0 10px;
	position: relative;
}
#picturesSection .closeBtn{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1;
	font-size: 18px;
	cursor: pointer;
	color: #F00;
}
.radioBtns span [type="radio"]:checked + label:after {
	display: block;
	position: absolute;
	content: "";
	background-color: rgba(0,0,0,.9);
	left: -2px;
	top: -2px;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	z-index: 1;
	opacity: 0;
	margin: 0;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.radioBtns span [type="radio"]:not(:checked) + label:after{
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.radioBtns span [type="radio"]:checked + label:before{
	background-color: #0f9d58;
}
.radioBtns span [type="radio"]:checked + label:after{
	-webkit-animation: rippleOn 1s;
	animation: rippleOn 1s;
}
.userPicturesCard{
	width: 200px !important;
}
.userPicturesCard .card-action{
	text-align: left;
}
.userPicturesCard .card-action a{
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 8px;
	color: #222;
}
#pwdSection{
	width: 50%;
	margin: auto;
}
.subscripeContent .card-content p{
	font-size: 24px;
}
.subscripePromoCard .subscripeContent .card-content p{
	font-size: 16px;
}
.subscripePromoCard .subscripeContent .card-content p span{
	font-size: 18px;
	padding-left: 10px;
}
.savedsearchs {
	margin: 0;
}

#interestMe .card {
	overflow: visible !important;
}

.collapsible .collapsible-body {
	overflow: visible !important;
}

.savedsearchs span,.savedsearchs a {
	display: inline-block;
	margin: 0!important;
	color: #000;
}
.saved {
	font-size: 16px;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.savedsearchs li {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.savedsearchs li i {
	font-size: 18px;
	color: #f00;
}
.savedsearchs .fs {
	padding: 0 20px 0 0;
}
.load-btns,.save-search  {
	margin-bottom: 0!important;
	padding: 5px!important;
	line-height: 26px!important;
	font-size: 12px!important;
}
/*Footer*/
.page-footer{
	color: #afafaf;
	background-color: #222 !important;
}
.social-icons{
	/*border-bottom: 2px solid #000;*/
}
.social-icons a{
	border: 1px solid #afafaf;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 5px 10px 10px;
	/* background: #fff; */
	display: inline-block;
	line-height: 30px;
	font-size: 18px;
	text-align: center;
}
.footer-menu, .copyrights{
	line-height: 45px;
}
.footer-menu a{
	padding: 0 10px;
	display: inline-block;
}
.foot-row{
	margin-bottom: 0;
	padding-bottom: 5px;
}
.Participants .Participants-List-Title{
	margin-bottom: 0px;
	color:#ff0000;
}
.Participants .Close-Button{
	background-color: #2196F3 !important;
}

nav.sub_nav{
	width: auto;
  display: inline-block;
  height: 56px;
  float: right
}
nav.sub_nav a i{
	line-height: 56px
}
@media only screen and (min-width: 991px){
	.slidesjs-container, .slidesjs-control{
		height: 460px !important;
	}
}
@media only screen and (max-width: 991px){
	.nav-style{
			height: 69px;
		}
	.logo{
		z-index: 11 !important;
	}
	.button-collapse{
		z-index: 99 !important;
	}
	.menu-items{
		height:100% !important;
		/*height: auto !important;*/
		z-index: 9999!important;
		padding: 30px 0 !important;
	}
	.menu-items li{
		line-height: 40px;
		float: left !important;
	}
	.menu-items li a .fb-icon{
		margin-left: 8px;
		line-height: 40px;
	}
	.menu-items li i{
		height: 45px;
		line-height: 40px;
	}
	/*.slidesjs-container, .slidesjs-control{
		height: auto !important;
		}*/
	.log-user-name, .btn-logOut{
		padding-left: 15px;
	}
	}
	@media only screen and (max-width: 800px){
		.logo img{
			width: 130px;
		}
		.slide-prev-icon, .slide-next-icon{
			width: 35px;
			height: 35px;
			line-height: 35px;
			font-size: 2em;
		}
	}
	@media only screen and (min-width: 601px) and (max-width: 767px){
		.card-style {
			width: 155px;
		}
	}
	@media only screen and (max-width: 600px){
		.nav-style{
			height: 61px;
		}

		/*TabHeader*/
		.btn-tabHeader{
			top: -55px;
		}

		.online.status-label i:after, .offline.status-label i:after{
			padding-top: 0px;
		}
	}

html,
body{
	
}
body { background: url('../assets/body-bg.png') repeat 0 0; }
.message-list li,.event-list li { 
	padding: 25px 0 !important; 
	-webkit-border-image: url('../assets/border-image.png') 15 0 round;
	-o-border-image: url('../assets/border-image.png') 15 0 round;
	border-image: url('../assets/border-image.png') 15 0 round;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	text-transform: uppercase;
	font-size: 14px;
	float: none!important;
	display: inherit;
	width: 100% !important;
	height: auto !important;
	line-height: inherit !important;
	background: inherit!important;
	font-size: 13px;
}
.clear { clear: both; }
.message-menu,.event-menu,.chat-menu,.search-menu {
	background: #ececec !important;
}
.message-menu1,.event-menu1,.chat-menu1, .search-menu {
	-moz-box-shadow: inset 0 0 10px #afafaf;
    -webkit-box-shadow: inset 0 0 10px #afafaf;
    box-shadow:  inset 0 0 10px #afafaf;	
}
.message-menu a,.event-menu a { color: #2f2f2f !important; }
.message-menu a:hover,.message-menu a:active,.event-menu a:hover,.event-menu a:active { 
	text-decoration: underline; 
	color: #000; 
}
.message-title,.event-title,.chat-title{ 
	display: block !important;
	padding: 10px 0px;
	background: #0077a6;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	list-style: none;
	text-align: center;

}
.tabs { 
	height: auto !important;
	background: inherit !important;
}

#compose { 
	margin-top: 40px;
}
#compose label, #compose .input-field label,#new-event label,.chat-form label {
	text-transform: uppercase;
	color: #037aa9 !important;
	font-size: 15px;
}
#compose input[type=text] { 
	width: 60% !important;
}
#compose .btn {
	background-color: #E42A2A !important;
}
#compose .select-dropdown {
	width: 60%;
} 
.to { padding-left: 12px; }
.loading { 
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}
.indicator { display: none; }

/*inbox*/
.message-item { 
	margin-top: 25px;
}
.message-item .delete,.event-item .delete { 
	padding: 4px 7px;  
	height: auto;
	vertical-align: middle;
	margin: 0;
	line-height: 20px;
	font-size: 12px;
}
.search { 
	margin-top: 5px;
	width: auto!important;
	color: #000;
}
.search  label { 
	color:  #000; 
	font-size: 14px; 
}
.search input[type="search"]{
	padding: 3px 5px !important;
}
.inbox-filters {
	padding: 0 0 5px;
	border-bottom: 1px dashed #999;
}
.tablehead { 
	background: #0077a6!important;
	color: #fff;
	border: none !important;
}
.dataTable  { 
	margin-top: 10px;
}
.dataTable th {
	padding: 5px !important;
	border-radius: 0!important;
	font-size: 13px;
}
.dataTable .md {
	width: 30%; 
}
.dataTable .fs { 
	width: 15%;
}
.dataTable [type="checkbox"]:not(:checked) + label, .dataTable [type="checkbox"]:checked + label {
	height: 15px !important;
	margin-left: 10px;
}
.dataTable [type="checkbox"]:not(:checked) + label:before {
	border: 2px solid #fff;
}

.dataTable [type="checkbox"]:checked + label:before {
left: -3px;
top: -7px;
width: 12px;
height: 22px;
border-top: 2px solid transparent;
border-left: 2px solid transparent;
border-right: 2px solid #fff;
border-bottom: 2px solid #fff;
-webkit-transform: rotateZ(40deg);
-moz-transform: rotateZ(40deg);
-ms-transform: rotateZ(40deg);
-o-transform: rotateZ(40deg);
transform: rotateZ(40deg);
-webkit-backface-visibility: hidden;
-webkit-transform-origin: 100% 100%;
-moz-transform-origin: 100% 100%;
-ms-transform-origin: 100% 100%;
-o-transform-origin: 100% 100%;
transform-origin: 100% 100%;
}
.dataTable tr img {
	width: 100%;
	height: auto;
	max-width: 78px;
	border: 1px solid rgba(0,0,0,0.3);
 }
.dataTable p {
	margin: 0;
	/*text-align: center;*/
}
.dataTable tr { 
	border-bottom: 1px dashed #aaa;
}
.dataTable td { padding: 5px 5px !important; }
.selectbox input[type="checkbox"] {
	position: relative;!important;
	left: 50%;
 }
 .restore { margin-left: 8px !important; }
 .pagination li { 
 	display: inline-block;
 }

.pagination .btn { 
 	padding: 5px 15px;
 	height: auto;
 	line-height: 20px; 
 } 
.pagination .ls { 
	padding: 5px 25px;
} 
/*event*/
.event-item {
	margin-top: 25px;
}
.event-item .dataTable .md {
	width: 20%;
}
.event-item .dataTable .location {
	width: 14%;
}
#new-event .fields {
	padding: 0!important;
}
/*chat*/
.chat-item { margin-top: 25px; }
.chat-menu1 { min-height: 565px; }
.chat-list { margin-top: 5px !important; }
.chat-list a { color: #000!important; }
.chat-list li { 
	margin-bottom: 3px!important;
	padding: 4px 10px !important;
	float: none!important;
	height: auto!important;
	line-height: normal!important;
	background: inherit!important;
	width: auto!important;
	text-align: left!important;
	color: #000!important;
}
.chat-list li span {
	padding-right: 5px;
}
.chat-list li.online {
	background: #bbd6e1!important;
	border:1px solid #75A1B3;
	border-radius: 5px;
}
#chat { 
	margin-top: 40px;
}
.chat-panel { 
	background: none!important;
	padding: 0!important;
	box-shadow: none!important;
}
.chat-person { padding: 0!important; }
.chat-person img { 
	width: 100%;
	max-width: 78px!important;
	height: auto;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 50%;
}
/*.chatArea
{
	padding-left: 50% !important;

}*/
.card-panel.left
{
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}
.card-panel.right
{
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}
.chat-message {
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
ul.chat-message-list .left .chat-message
{
	background-color:#D9EDF7 !important;
	border-color:#BCE8F1 !important;
}
ul.chat-message-list .right .chat-message
{
	background-color: #DFF0D8 !important;
	border-color:#D6E9C6 !important;
}
.chat-message span{
	font-size: 10px;
	font-style: italic;
	display: inline-block;
}
.chat-message  p {
	margin: 0;
}
.chat-message-list {
	height: 330px;
	overflow-y: auto;
	list-style: none;
	margin-bottom: 0px;
	word-wrap: break-word;
	font-size: 14px;
	margin-left: 75px;
}
.chat-form {
	margin-left: 45px;
}
.chat-send {
	background: #B80000 !important;
	margin-right: 10px;
	margin-bottom: 0;
}
.validatesMsg {
	font-size: 13px;
	color: #f00;
	padding-left: 15px;
}
.hide { display: none; }
.btn-searchMenu { 
	font-size: 50px;
	margin-left: 40px; 
	display: none;
	line-height: normal;
}
.status i { 
	font-size: 21px; 
	vertical-align: middle;
}
.chat-list li.online i {
	color: #33cc00;
}
.chatArea md-checkbox, .chatArea .md-checked {
	/*display: inline!important;
	position: relative;
	top: -27px;*/
}
.chatArea .md-checked {
	top: 0;
}
.chat-btn {
	padding-top: 40px!important;
}
.drag-target { display: none;}
/*search*/
.search-filters { margin-top: 30px; }
.check { top: 0!important; }

#saved-search { 
	font-size: 12px; 
	padding: 5px 10px;
	line-height: normal;
	background: #000;
}
#search { width: 50%; }
.seacrhbox i { font-size: 24px; }
.additional,.search1 {
	padding: 5px 10px !important;
	line-height: 20px!important;
}
.additional a ,.search1 a { 
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 3px 0 0;
}
.rigtfilter { 
	margin-top: 23px!important;
}
.ageBox
{
	padding-top: 15px !important;
}
.more_filters_list {
	height: 185px;
	overflow: auto;
	display: block;
}
.more_filters_list .input-field {
	margin: 0!important;
}
.more_filters_list tr:nth-child(2n) { background: #eee; }

.hide { display: none; }

/*Search*/
#SearchtabSection{
	margin: 40px 0 0px;
	height: 70px;
}
#SearchtabSection .editTab li{
	display: inline-block;
	padding-right: 5px;
}
#SearchtabSection .editTab li a{
	font-size: 13px;
}
#SearchtabSection .editTabBtn{
	display: none;
}
.padBtmZero{
	padding-bottom: 0 !important;
}
.mrgnBtmZero{
	margin-bottom: 0;
}
.labelStyle{
	margin-top: 25px;
}
.searchResultTitle{
	border-bottom: 1px solid rgba(94, 94, 94, 0.32);
}
.searchTitle{
	font-size: 32px;
	color: #545454;
}
.user-prefer{
	margin: 3px 0;
}
.avail-users{
	margin-top: 0;
}
.avail-users li{
	padding: 4px 5px;
	display: inline-block;
	font-size: 13px;
}
.btn-style{
	margin-top: 20px;
}
.interestTags li{
	display: inline-block;
	padding: 0 5px;
}
.interestTags li .card-content{
	padding: 10px 20px;
}
.searchDesc{
	margin: 20px 0 !important;
}
.event-details { 
	padding: 15px 0;
	border-bottom: 1px dotted #999;
}
.event-details h4 {
	font-size: 21px;
	margin: 0 0 15px;
	line-height: normal;
}
.event-desc { 
 padding: 10px 0 0;
}
.event-desc p {
	line-height: normal;
	margin: 0 0 5px;
}
.event-details h6,.event-desc h6 { 
	color: #037aa9;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
.event-buttons { 
	margin: 10px 0 0;
}
.participate { margin: 0 0 0 10px!important; }
.locations p {
	margin: 0 0 5px;
	line-height: 20px;
	font-size: 12px;
}
.event-details h6 span {
	position: relative;
	top: 4px;
	padding: 0 5px 0 0;
}
.personphoto img{ 
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.personname { 
	color: #037aa9;
	font-size: 12px;
}
.personname  span { 
	color: #000; 
	font-size: 15px;
}

/* Angular Material design*/
md-select {
	width: 100%!important;
}
.box-style { margin: 18px 0 0; }
md-radio-button { 
	display: inline-block; 
	margin: 0 0 0 10px;
}
md-radio-group { border: none; }
.pad-left { padding-left: 0!important; }
body { height: auto!important;}
md-checkbox { margin: 0; }
.special-style { padding-top: 18px!important; }
.search-style { padding-top: 16px!important; }
.radioBtns md-checkbox .md-label { border: none!important;}

/*Picture upload*/
#picturesSection {
	background: #fff;
	border-radius: 3px;
	padding: 20px;
}
.upload {
	padding: 10px 0 0;
    width: 157px;
    height: 44px;
    background: #4caf50;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 3px;
}
.upload input {
    display: block !important;
    width: 157px !important;
    height: 45px;
    opacity: 0 !important;
    overflow: hidden !important;
    position: absolute;
    top: 0;
}
.UploadMoreOptions{
	border-radius: 10px;
	border:3px solid #aaa;
	border-style: dashed;
	background-color: #fff;
}
.UploadOptions{
	display: block;
	padding: 10px 0 10px 0;
}
.UploadOptions.UploadOptionsTitle{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10%;
}
.UploadMoreOptions .row{
	padding: 50px 30px !important;
}
.UploadOptions.upload {
	border-radius: 5px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #aaa;
	border-left: 2px solid #fff;
	border-right: 2px solid #aaa;
	padding: 0px;
	width: 100%;
}
.UploadOptions.upload span{
	padding: 15px;
}
.UploadOptions.upload.FromFacebook{
	background: #3A6DB0;
}
.UploadOptions.upload i{
	padding: 15px;
	border-right:1px solid #888;
}
.UploadOptions.Or-bar{
	position: relative;
}
.UploadOptions.Or-bar hr{
	color:#fff;
}
.UploadOptions.Or-bar span{
	text-align: center;
	position: absolute;
	background-color: #fff;
	height:20px;
	width: 30px;
	top: 20%;
	left: 45%;
}
.UploadOptions.upload input{
	height: 44px !important;
	width: 100% !important;
}
.UploadDesc{
	padding-bottom: 30px;
}
.UploadDesc:nth-child(3){
	padding-bottom: 0px;
}
.UploadDesc span{
	font-weight: bold;
}
.gallery-pictures {
	margin: 0;
}
.userimg img { height: 150px;}
#new-event .pad-top { padding-top: 17px!important; }
#new-event input[type="date"] { margin: 0; }
.pad-zero { padding: 0!important; }
.name-email { padding: 7px 0 0 5px!important; }
.date-time { 
	padding-top: 7px !important; 
	text-align: right; 
}
.mail-header { 
	padding: 3px 0;
	font-weight: bold;
	border-bottom: 1px solid #999; 
}
.reply-date { float: right; }
.message-reply { 
	margin: 40px 0 0; 
}
.reply-detail { 
	padding: 0 0 5px; 
	border-bottom: 1px solid #eee;
	font-weight: bold;
}
.mail-reply { 
	margin: 0 0 10px;
	padding: 10px 5px;
	border-radius: 4px;
	background-color: #fff;
}
.mail-reply  p { 
	margin: 5px 0 6px;
	font-size: 13px;
}
.message-details { 
	background-color: #fff;
	padding: 10px;
}
.mail-reply textarea { 
	height: 100px;
	padding: 5px;
}
.maildetails { 
	font-size: 13px;
}
.reply { margin: 10px 0 0; }

/*view-profile*/
.view_profile { padding: 25px 0; }
.viewbtn { 
	padding: 5px 10px!important; 
	line-height: 25px!important;
	font-size: 14px;
}
.report { margin-left: 10px; }
.personal-details {
	-moz-box-shadow: inset 0 0 10px #afafaf;
	-webkit-box-shadow: inset 0 0 10px #afafaf;
	box-shadow: inset 0 0 10px #afafaf;
	background: #ececec !important;
	padding: 0 0 30px;
}
.online_status,.my_picture {
	display: block !important;
	padding: 10px 0px;
	background: #0077a6;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	list-style: none;
	text-align: center;
}
.profile_details { 
	padding: 0 15px 25px;
}
.profile_details li {
	padding: 6px 0;
	border-bottom: 1px solid #ddd;
}
.profile_details label {
	color: #037aa9 !important;
	float: left;
	width: 60%;
	text-align: left!important;
	font-size: 14px!important;
}
.my-photos {
	padding: 0 15px;
}
.my-photos li {
	display: inline-block;
	width: 32%;
 }
 .my-photos li img {
 	background-color: #fff;
 	padding: 2px;
 	border: 1px solid #ddd;
 }
.about-details label {
	
}
.pad-l { padding-left: 0!important; }
.pad-r { padding-right: 0!important; }
.about-details label {
	color: #037aa9 !important;
	font-size: 14px!important;
	width: 52%;
	float: left;
}
.view_about_details li {
	padding: 8px 0;
	border-bottom: 1px dotted #ddd;
}
.about-details .blocks {
	display: block!important;
	padding: 0 0 10px;
	float: none!important;
}
.view_profile .card {
	background-color: inherit!important;
	box-shadow: none!important;
}
.pageBg  {
	line-height: 21px!important;
	width: 70%!important;
	padding: 0 20px 20px;
}
.pageBg .pageHeader{
	text-align: left;
}

/*.savedsearch {
	padding: 15px 0;
	border-bottom: 1px dotted #ddd;
}*/
md-input-container label:not(.md-no-float), md-input-container .md-placeholder {
	font-size: 11px!important;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label {
	font-size: 14px!important
}
.registerForm .row,.registerForm .row input {
	margin-bottom: 0!important
}
.loginForm .row {
	margin-bottom: 0!important;
}

.notFilled{
  float: right;
  color: rgb(204, 8, 16);
}

.pageBg {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  min-height: 400px!important;
}
.pageHeader{
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}
.PageOuter {
	min-height: 90vh;
}
.ng-cloak {
  display: none !important;
}
 

md-sidenav.md-locked-open{
	width:auto !important;
	max-width: 1024px;
	background: inherit !important
}

.ng-submitted .ng-invalid {
  border-bottom: 2px solid red;
}

@media screen and (max-width: 1025px) {
	#More .radioBtns {
		float: none!important;
	}
	md-radio-button {
		margin: 10px 0 0!important;
	}
	.radioLabel {
		width: 100%;
	}
	#adsearch .radioLabel1 {
		width: auto;
		font-size: 13px!important;
	}
	#adsearch .radioBtns1 {
		margin: 0!important;
	}
}
@media screen and (max-width: 991px) {
	
	.drag-target { display: block; width: 5% !important}
	.dataTable tr img { max-width: 40px; }
	.dataTable .fs {
		width: auto;
		height: 70px;
		vertical-align: middle;
		text-align: left;
		display: table-cell;
	}
	.dataTable th {
		text-align: left!important;
		padding: 10px 5px !important;
	}
	.dataTable td { 
		padding: 7px 5px !important;
	}
	.dataTable tr { 
		border-bottom: none; 
		border-right: 1px dashed #aaa;
	}
	.no-message { border: none!important; }
	.dataTable .md { width: auto; }
	.chat-message-list { margin-left: 25px; }
	.chat-form { margin-left: 30px;}
	.message-menu,.search-menu{ 
		position: absolute;
		left: -250px; 
		z-index: 99999;
	}
	.btn-searchMenu{ display: block; }
	.tabs { width: 160px!important; }
	.dataTable .fsname {
		height: inherit!important;
	}
	.event-data td { padding: 9px 5px!important; }


	/*Search*/
	/*Search*/
/*	#SearchtabSection .editTab{
		position: absolute;
		left: -250px;
		background: rgba(0, 0, 0, 0.9);
		top: 0;
		padding: 10px;
		margin-top: 0;
		z-index: 999;
	}*/
	#SearchtabSection .editTab li{
		display: block;
		padding-right: 5px;
	}
	#SearchtabSection .editTabBtn{
		display: inline-block;
		color: #222;
		font-size: 25px;
		cursor: pointer;
	}
/*	#basicSearch{
		display: none;
	}*/
	.basicSearchForm{
		padding: 5px 20px;
/*		width: 250px;
*/		background-color: rgba(224, 224, 224, 0.42);
	}
	.labelStyle{
		text-align: left;
	}

	/*Profile*/
	/*#profileEditList .editTab{
		position: absolute;
		left: -250px;
		background: rgba(0, 0, 0, 0.9);
		top: 0;
		padding: 10px;
		margin-top: 0;
		z-index: 999;
	}*/
	#SearchtabSection .editTab li{
		display: block;
		padding-right: 5px;
	}
	#SearchtabSection .editTabBtn{
		margin-top: 0
	}
	#profileEditList .editTab li{
		display: block;
		padding-right: 5px;
	}
	#profileEditList .editTabBtn{
		display: inline-block;
		color: #222;
		font-size: 25px;
		cursor: pointer;
	}

	.radioLabel{
		width: 100%;
		display: inline-block;
	}
	.right.radioBtns{
		float: none !important;
		display: block;
		margin-top: 3px;
	}
}

@media screen and (max-width: 767px) {
	#adsearch .radioLabel1 {
		width: 100%;
		float: none!important;
		white-space: normal;
	}
	#adsearch .radioBtns1 {
		float: none!important;
	}
	.UploadOptions.upload {
		width: 200px!important;
		margin: 0 auto 20px;
	}
	.UploadDesc,.UploadDesc:nth-child(3) {
		padding: 0 0 10px;
	}

	.pad-r { padding-left: 0!important; }
	.userimg img { height: 120px; }
	#compose .select-dropdown,#compose input[type=text] { width: 100% !important; }
	.chat-message-list,.chat-form { margin-left: 0; }
	.chat-menu { min-height: inherit; }
	.icon-img { display: none; }
	.message-list li, .event-list li { 
		padding: 10px 5px!important;
		font-weight: bold;
	 }
	 .tabs { white-space: pre-line!important;}
	 .chat-menu1 { min-height: inherit!important; }
	 .chat-menu { 
		position: absolute;
		left: -250px; 
		z-index: 99999;
	}
	#chat { margin-top: 0; }	
	#pwdSection { width:auto !important; }
}
@media only screen and (max-width: 600px){
	.nav-style{
		height: 61px;
	}
	.userimg img { height: auto!important; }
	/*TabHeader*/
	.btn-tabHeader{
		top: -55px;
	}

	.online.status-label i:after, .offline.status-label i:after{
		padding-top: 0px;
	}
	.UploadMoreOptions .row{ padding:5px 10px !important;}
	/*Search*/
	.searchResultTitle{
		text-align: center;
	}
	.searchResultTitle .searchTitle{
		display: block;
	}
	.registerForm {
		width: auto;
	}	
}
@media screen and (max-width: 480px) {
	.search label { display: block;}
	.search input[type='search'] { width: 150px; }
	.message-item .delete, .event-item .delete { margin: 23px 0 0;}
	.left1 { 
		left: -116px;
		position: relative; 
	}
	.event-details .date,.locations,.part {
		width: 100%!important;
		padding: 0!important;
	}
	.event-buttons { text-align: left!important;}
	.participate { margin: 10px 0 0!important; }
	.event-buttons { margin: 0; }
	.event-photo { width: 100%!important; }
	.event-detail { 
		width: 100%!important;
		padding: 0!important;
	}
	.personname { text-align: left!important; }
	.register {
		width: auto;
		padding: 0 10px;
	}
	.actionLinks {
		float: none!important;
	}
	
}



