.messageContainer {
  min-height: 62vh;
}

.contentHeight {
  max-height: 60vh;
}

.userList {
  cursor: pointer;
}

.userList span {
  font-size: 12px;
}

.selected {
  color: green;
  font-weight: bold;
}

.payingText {
  font-size: 20px;
}