  <div id="banner">
    <!-- <div class="container"> --> <!-- for container view -->
    <div id="slides">
      <img src="/assets/slider/1.png" alt="">
      <img src="/assets/slider/2.png" alt="">
      <img src="/assets/slider/3.png" alt="">
      <img src="/assets/slider/4.png" alt="">
      <img src="/assets/slider/5.png" alt="">
      <a class="slidesjs-previous slidesjs-navigation slide-prev-icon" href="#" title="Previous"><i class="mdi-image-navigate-before"></i></a>
      <a class="slidesjs-next slidesjs-navigation slide-next-icon" href="#" title="Next"><i class="mdi-image-navigate-next"></i></a>
    </div>
    <!-- </div> -->
  </div>
  <div id="getStarted">
    <div class="container">
      <p>A website for people who believe that karma brings people together</p>
        <a href="/register" class="waves-effect waves-light btn btn-start"><i class="mdi-content-send right"></i>Get Started</a>
    </div>
  </div>
  <div id="userSpec">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image center-align">
              <img src="/assets/spec/discover.png" class="responsive-img">
            </div>
            <div class="card-content center-align">
              <h5>DISCOVER</h5>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image center-align">
              <img src="/assets/spec/meet.png" class="responsive-img">
            </div>
            <div class="card-content center-align">
              <h5>MEET</h5>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image center-align">
              <img src="/assets/spec/spread.png" class="responsive-img">
            </div>
            <div class="card-content center-align">
              <h5>SPREAD THE LOVE</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $(".button-collapse").sideNav();
      $('body').on('click',function(){
        $('.drag-target').removeClass('z-zero');
        $('#nav-mobile').animate({'left':-250}, {'duration': 300});
        $('#sidenav-overlay').css('opacity', '0');
        $('.drag-target').addClass('z-zero');
      });

      // Slider
      $("#slides").slidesjs({
        // width: 940,
        height: 400,
      });
        // Contact
        $('select').material_select();
      });
  </script>