<!DOCTYPE html>
<html>
  <head>
    <title>MustBeKarma | Find your Karma match</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "private_pub" %>
    <%= csrf_meta_tags %>
    <base href="/">
  </head>
  <body ng-app="myApp" id="myApp">

    <div ng-cloak ng-hide="loggedUser" class="beforeLogin">
      <div id="topHeader">
        <nav class="nav-style">
          <div class="nav-wrapper header">
            <div class="container">
              <a href="/" class="brand-logo logo">
                <img src="/assets/logo.png" class="responsive-img" alt="MBK">
              </a>
              <ul id="nav-mobile" class="right side-nav menu-items">
                <li>
                  <a href="/register">
                    <i class="mdi-content-add left"></i>
                  Register</a>
                </li>
                <li>
                  <a href="/login">
                    <i class="mdi-action-input left"></i>
                    Login
                  </a>
                </li>
                <li>
                  <a target="_self" href="<%= user_omniauth_authorize_path(:facebook) %>">
                    <i class="fa fa-facebook fb-icon left"></i>
                    Login with facebook
                  </a>
                </li>
              </ul>
              <a class="button-collapse" side-nav="left" href="#" data-activates="nav-mobile">
                <i class="mdi-navigation-menu"></i>
              </a>
            </div>

          </div>
        </nav>
      </div>
    </div>

    <div ng-cloak ng-show="loggedUser" class="afterLogin">
      <div id="topHeader">

        <nav class="nav-style">
          <div class="nav-wrapper header">
            <div class="container">
              <a href="/dashboard" class="brand-logo logo ">
                <img src="/assets/logo.png" class="responsive-img" alt="MBK">
              </a>
              <ul id="nav-mobile1" class="right side-nav menu-items">
                <li>
                  <a href="/search">
                  <i class="fa fa-search">
                  </i>
                    Search
                   </a>
                </li>
                <li>
                  <a href="/event">
                    <i class="mdi-action-loyalty left">
                    </i>
                    Events
                  </a>
                </li>
                <li>
                  <a href="/message">
                    <i class="mdi-content-mail left"></i>
                    Messages
                  </a>
                </li>
                <li>
                  <a href="/myprofile/picturesSection">
                    <i class="mdi-image-crop-original left">
                    </i>
                    Gallery
                  </a>
                </li>
                <li>
                  <a href="/myprofile/favSection">
                    <i class="fa fa-heart-o">
                    </i>
                    Favorites
                   </a>
                </li>
                <li>
                  <a href="/myprofile">
                    <i class="fa fa-user">
                    </i>
                    My Profile
                   </a>
                </li>
                <li>
                  <a href="/myprofile" class="log-user-name">
                    Hi
                     <span class="ellipsis">
                       {{currentUserDetail.profile.name}}
                     </span>
                   </a>
                </li>
                <li>
                    <a href="/users/sign_out" target="_self" class="btn-logOut">
                      <i class="mdi-action-settings-power"></i>
                    </a>
                  </li>
                <li ng-show="currentUserDetail.profile.paymentStatus != 'active'">
                  <a href="/myprofile/subscripeSection">
                    Upgrade
                  </a>
                </li>
              </ul>
              <a class="button-collapse" href="#" side-nav="left" data-activates="nav-mobile1">
                <i class="mdi-navigation-menu">
                </i>
              </a>
            </div>
          </div>
        </nav>
      </div>
      <!-- <div id="tabsHeader">
        <nav class="nav-style nav-tabHeader">
          <div class="nav-wrapper">
            <div class="container">
              <div class="col s12 m9 offset-m3">
                <ul id="nav-mobile2" class="right side-nav menu-items right-edge">
                  <li><a class="active" href="/dashboard">Home</a></li>
                  
                  
                   
                  <li><a href="/event">Events</a></li>
                  <li><a href="/message">Message</a></li>
                  <li><a href="/myprofile/pwdSection">Settings</a></li>
                  <li>
                    
                  </li>
                  
                </ul>
                <a class="button-collapse right btn-tabHeader"
                  data-activates="nav-mobile2">
                  <i class="mdi-navigation-more-vert"></i>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div> -->
    </div>
    <%= yield %>
    <footer class="page-footer center-align" ng-cloak>
      <div class="container">
        <div class="social-icons">
          <a href="https://www.facebook.com/mustbekarma" class="grey-text">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/mustbekarma99" class="grey-text">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://instagram.com/mustbekarma/" class="grey-text">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <div class="copyrights">
          <div class="footer-menu">
            <a class="grey-text" href="/">Home</a> <span>|</span>
            <a class="grey-text" href="/page/about_us">About Us</a> <span>|</span>
            <a class="grey-text" href="/page/terms_and_conditions">Terms of Use</a> <span>|</span>
            <a class="grey-text" href="/page/privacy_policy">Privacy Policy</a> <span>|</span>
            <a class="grey-text" href="/contact_us">Contact Us</a>
          </div>
          Copyright © 2015 mustBEkarma
        </div>
      </div>
    </footer>
    <% if current_user %>
      <%= subscribe_to "/#{current_user.id.to_s}" %>
    <% end %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  </body>
</html>
